        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>データ分析の組織での活かし方</h1>
        </div>
        


<div class="learning">            
    <div class="row">
    <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        
        <h4>AIを活用したい！という前に、あなたの会社のデータ分析力はどのようなレベルにいますか？</h4>
        <div class="col-xs-12" style="background:#A8ACAB; height:1px;" ></div>
        <p>
        　現在使われている機械学習ベースのAIは統計数学や統計学をベースにしたものです。
        そのため機械学習を利用したデータ分析プロジェクトとAIによる予測モデル導入には大きな違いがありません。
        機械学習自体は昔から利用されてきたものですが、
        最近のAIブームにのってAIを使った予測モデルと言い直している例も実は多いのが現実です。
        </p><br>  

        <h1>統計分析と機械学習イメージ</h1>
        <img class="img-responsive center-block" src=<%= asset_path "business2-1.png" %>>  
        <br>
        
        <p>
        　AIモデルやAIサービス導入を検討するプロジェクトはデータ分析プロジェクトと大変近似していますし、
        導入されたAIモデルの運用には自社のデータ分析力に依存することも多々あります。そのため、AIを導入したいと企業は多いのですが、
        自社のデータ分析力が不足していると出来上がったAIモデルの運用・管理などができず、上手く扱えない可能性があります。<br>
        　こうした背景から実際に予測分析モデル導入プロジェクトなどを始める際には、クライアントのデータ分析チームやその能力、
        所有するデータなどを確認することが重要となります。「データ分析はやっています」という企業でも、
        単なるエクセル分析であったり、SQLを利用したデータマイニングであったり、R言語などのデータ分析言語を駆使していたりと会社によって、その定義はまちまちです。
        よって自社のデータ分析力がどの程度なのかを客観的に把握する必要があります。<br>
        　そこでトーマス・H・ダベンボートの『分析力を武器とする企業』には企業のデータ分析力のレベル表などが載っているので、『分析力を駆使する企業と』と共に一読してみると良いでしょう。
        </p>
        <br>  
        
        <h1>企業のデータ分析レベル</h1>
        <img class="img-responsive center-block" src=<%= asset_path "business2-2.png" %>>
        <h2>参考：トーマス・H・ダベンボートの『分析力を武器とする企業』</h2><br>  
  　　    <img class="img-responsive center-block" src=<%= asset_path "business2-3.png" %>>
        <br><br>    
        <h4>社内でデータ分析を活かして、活用するためには相当な努力が必要です。</h4>
        <div class="col-xs-12" style="background:#A8ACAB; height:1px;" ></div>
        <p>
        　社内でデータ分析が活用されるような体制を構築するには大変な努力を必要とします。そもそも経営陣に如何にしてデータ分析の必要性を理解してもらうための意識づけし、
        データ分析結果を実際に活用してもらうための意思決定をしてもらうためには、様々な組織内調整などの多大なコミュニケーションや社内の意識改革が必要となります。<br>
        　大阪ガスのデータ分析チームはそうした困難を後超えて、データ分析で成果をあげている稀有な例として有名です。
        　河本薫さん著作の「会社を変える分析の力」と「最強のデータ分析組織」は社内でデータ分析を活かすための示唆が多く見受けられるため一読してみると良いでしょう。
        </p><br>  

        <img class="img-responsive center-block" src=<%= asset_path "business2-4.png" %>>
        <br>  
        
        <p>
        　また、データ分析によって事業戦略を打ち出す意思決定については、元USJのマーケティングを担当していた森岡毅さん／今西聖貴さんの
        「確立思考の戦略論」が参考になります。データ分析によって、ハリーポッター施設の投資をすることでUSJの来場者数を右肩上がりに増加させた過程が大変参考になります。
        </p><br>   

        <img class="img-responsive center-block" src=<%= asset_path "business2-5.png" %>>
        <br> <br>   

        <h4>目標とすべき理想的なデータサイエンティスト組織とは？</h4>
        <div class="col-xs-12" style="background:#A8ACAB; height:1px;" ></div>
        <p>
        　目標とすべき理想とするデータサイエンティスト組織は経営陣や経営企画室などの意思決定を直接的に支援できるような体制を構築し、
        各部門とも部門横断的なコミュニケーションをとれるようなミッションや権限を有した組織ができることです。
        </p><br>  

        <h1>理想的なデータサイエンティストチーム</h1>
        <img class="img-responsive center-block" src=<%= asset_path "business2-6.png" %>>

        <p>
        　実際にこのような理想的な体制は困難ではありますが、まずはデータ分析を各部門で徹底し、
        データに基づく意思決定や業務改善を社内で少しずつ活用できるようにすることがAIを活かすための利生的な組織作りの一歩となるはずです。
        データ分析や機械学習による自動化の効果が出やすい小規模で短期に集結可能なデータ分析プロジェクトを実施して、社内で成果を少しずつ出すことで、
        社内にデータ分析の役割を一歩一歩浸透させていくような地道な努力をすることが、まずは大事になります。
        </p><br> 

    </div>
</div>

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
</div>

