        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AIビジネス検討に必要なノウハウとは何か</h1>
        </div>
        


<div class="learning">            
    <div class="row">
    <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        <h4>AIでビジネスを検討する上でのデータサイエンティスト側と企画側とのGAPが課題となっている。</h4>
        <div class="col-xs-12" style="background:#A8ACAB; height:1px;" ></div>
        <p>
        ここ1~2年でAIやIoTのビジネス活用が一気に加速しています。<br>
        アクセンチュアの調査では2035年の収益分配におけるAIの影響は全産業におよぶものと予測されており、
        どの業界のどの業種であったとしてもAIの活用が求められる時代に突入したのと言って良いのではないでしょうか。
        </p><br>  

        <h1>2035年のAIによる利益配当金増加率予測</h1>
        <img class="img-responsive center-block" src=<%= asset_path "aimodel1.png" %>>  
        <h2>参考：アクセンチュア　2035年時点におけるAIシナリオの利益配当金の増加率 2017.7</h2><br>
        
        <p>
        しかし、同時にAIのビジネス活用に向けた課題も多く発生しています。ビジネス側はどのようにAIを活用していくのかの検討方法が分からず、
        「AI／ディープラーニングで何かやってよ」といった曖昧なAI導入が進められ、AIベンダー側も対処に窮するケースが多くなっているのです。
        </p>
        <br>  
        <h1>マネジメント層が人工知能を理解している割合</h1>
        <img class="img-responsive center-block" src=<%= asset_path "aimodel2.png" %>>
        <h2>参考：人工知能技術のビジネス活用概況　MM総研2017.4.25</h2><br>  

        <p>
        欧米諸国に比較して、経営側のAI理解が低いといったデータも出ており、日本企業の経営者や経営企画といった方々の
        AIビジネス活用ノウハウの蓄積が課題となっているといえるしょう。その結果AI導入の失敗ケースが多く発生しています。
        </p><br><br>    


        <h1>AI導入における典型的な失敗のパターン</h1>
        　<p>１．目的なしにAIの導入の検討を開始した<br>
            ２．必要なデータがない、もしくは、データの質が低い<br>
            ３．AIで目的を実現できるが、投資対効果に見合わない<br>
            ４．従業員の協力を得ることができない<br>
        　</p>
        <h2>参考：NTTデータ、AI導入における活用例・課題・成功させる秘訣を解説</h2><br><br>    

        <h4>データサイエンティスト側ではデータサイエンス人材の増加と共にビジネス力を持った人材育成の取り組みが推進されている。</h4>
        <div class="col-xs-12" style="background:#A8ACAB; height:1px;" ></div>
        <p>
            こうした課題に対して、データサイエンティスト協会などでは、データサイエンティストに技術力だけではなくビジネス力を身につけさせて、
            顧客のデータ分析案件やAI導入案件を検討できるような人材育成に取り組んでいます。
            しかしながら、経営者や経営企画部門などのテクノロジーに精通していない方がAIを理解するためのサービスやノウハウはまだまだ不足しているというのが現状です。
            そのためビジネス側とAIベンダー側のAIビジネス理解へのGAPは依然として課題として残っています。
        </p><br>  

        <h1>必要なビジネス力</h1>
        <img class="img-responsive center-block" src=<%= asset_path "aimodel3.png" %>> <br>

        <h4>AIビジネス推進のためには「AIが出来る事への理解」「データ起点の発想力」「顧客中心思考」が不可欠</h4>
        <div class="col-xs-12" style="background:#A8ACAB; height:1px;" ></div>
        <p>
            AIビジネスの実行プロセスを大まかに表すと以下のようなプロセスになります。その中でも以下の2つの点でビジネス力が重要となります。<br><br>
            １．ビジネス課題を整理してAIサービスモデルを生み出す段階<br>
            ２．実証実験などを経て実際のAI開発に向けて意思決定をする段階<br><br>
            ここでビジネス力が欠けてしまうと、2つの断絶が発生し、効果的なAIサービスモデルの構築はできません。
        </p><br>  

        <h1>AI開発プロセスイメージ</h1>
        <img class="img-responsive center-block" src=<%= asset_path "aimodel4.png" %>> <br> 

        <p>
            さらに「ビジネス課題を整理してAIサービスモデルを生み出す段階」では以下の3つのスキルが必要となります。
        </p><br>  

        <h1>AIビジネスの検討スキル</h1>
        <img class="img-responsive center-block" src=<%= asset_path "aimodel5.png" %>><br>  

        <p>
            １つ目は、AIができることを／できないことを理解していること。これがなければ、そもそもAIの活用方法が思いつきません。<br><br>  
            2つ目は、データ起点の発想力、現在のAI開発には所有するデータ量と質が大きく影響します。どういうデータにアクセス出来て、
            そのデータからどういったデータ分析やAIが開発できるのかを考える思考プロセスが重要となります。<br><br>  
            3つ目に、顧客中心思考です。AIを導入しても顧客や従業員に利用されるものでなければ意味がありません。<br><br>  
            この3つのスキルから有益なAIサービスモデルを検討することがこれから必須のビジネススキルになるのではないかと弊社では考えています。
        </p><br>  

        <h4>AIモデルキャンバスを利用したAIサービスモデルの発案とAIベンダー側との意思疎通を促進する。</h4>
        <div class="col-xs-12" style="background:#A8ACAB; height:1px;" ></div>
        <p>
            弊社では３つスキルを利用して、しっかりとしたAIサービスモデルを構築するためのフレームワーク
            としてAIモデルキャンバスを活用して、AIのビジネス活用ノウハウの育成を行っています。
        </p><br>  
        <h1>AIビジネスの検討スキル</h1>
        <img class="img-responsive center-block" src=<%= asset_path "aimodel6.png" %>><br>  

        <p>
           AIモデルキャンバスは、「ビジネスの視点」から検討を進めてAIで解決したい課題を整理します。その解決となるAIサービスモデルやデータセットを整理する流れで利用します。
           AIモデルキャンバスを利用して自社で実現したいAIサービスモデル案をいくつか用意して、AIベンダーやデータサイエンティスト企業などと実現に向けて議論をすることができれば、
           意思疎通がスムーズとなり、明確なビジネス目標を共有しながらAI開発が可能となります。
        </p>
  
        <p>
            AIモデルキャンバスを利用して自社で実現したいAIサービスモデル案をいくつか用意して、AIベンダーやデータサイエンティスト企業などと実現に向けて議論をすることができれば、
            意思疎通がスムーズとなり、明確なビジネス目標を共有しながらAI開発が可能となります。<br><br>
            弊社ではこうしたフレームを活用した研修コンテンツを多数用意しており、AIビジネス検討前に発注企業側にノウハウを取得していただくことを徹底しています。
            まずはビジネス側がしっかりとAIを理解し、それで何をしたいかを構想できなければ良いAI導入ができないと考えているからです。
            それにより、AI知識やノウハウのない発注企業側のテクノロジー起点のビジネス立案能力を向上させることが、日本企業全体のイノベーション促進には不可欠になるのではないかと考えます。
        </p>
    </div>
    </div>
</div>



        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
</div>

