        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>エクセル統計分析をマスターしよう</h1>
        </div>
        


<div class="learning">            
    <div class="row">
    <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        <h4>そもそもエクセルを使ったデータ分析や資料作りをマスターしよう</h4>
        <div class="col-xs-12" style="background:#A8ACAB; height:1px;" ></div>
        <p>
        　データサイエンティストの一歩として、データサイエンス分野ではないものから始めたいと思います。
        それはエクセルです。そもそもエクセルを十分に使いこなせているのでしょうか？　
        エクセルでのデータ分析でもある程度のことはできますし、エクセルを利用した上手い表の作り方などはビジネスの初歩として重要です。
        私もアクセンチュアに入社したころに一番利用したのがエクセルでした。<br>
        　もしあなたがエクセルを使いこなせていないのだとしたら、まずは熊野整先生の有名な
        「外資系投資銀行のエクセル仕事術」をマスターしてもらうのが良いでしょう。
        </p><br>  

        <img class="img-responsive center-block" src=<%= asset_path "data2-1.png" %>>  
    
        <p>
        　書籍も出ていますし、ストリートアカデミーにおいて実践講座も開講しているので、
        そちらを受けていただいてエクセルを使った分析やビジネスシミュレーションを使いこなせるようになると実業務においても大変参考になるかと思います。
        </p>
        <br>  
        
        <h1>熊野先生のエクセル分析講座</h1>
        <img class="img-responsive center-block" src=<%= asset_path "data2-2.png" %>>
        <h2><%= link_to 'https://www.street-academy.com/myclass/1190?sessiondetailid=207176', 'https://www.street-academy.com/myclass/1190?sessiondetailid=207176' %></h2><br>

        <h4>エクセルを利用したビジネス統計分析をマスターしよう</h4>
        <div class="col-xs-12" style="background:#A8ACAB; height:1px;" ></div>
        <p>
        　エクセル仕事術をマスターした後は、いよいよデータサイエンスの第一歩としてエクセルを利用したビジネス統計分析を学習しましょう。
        参考になるのは「EXCELビジネス統計分析」です。
        </p><br>  

        <img class="img-responsive center-block" src=<%= asset_path "data2-3.png" %>>  
    
        <p>
        　こちらの書籍はエクセルでできるデータ分析として、重回帰分析やクラスタリングといった初歩的な機械学習まで学習することができますし、
        標準偏差やP検定／T検定といった統計学の基礎的な内容を学習できるので、統計学を実践的に学ぶ初歩としてもお勧めしています。
        ここで統計学の考え方に慣れてから本格的なデータサイエンスに入っていきましょう。
        </p>
        <br>  

    </div>
    </div>
</div>

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
</div>

