         <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>チャットボット導入<br>コンサルティング</h1>
            <p>UXを追求した効果的なチャット対話を世界最高精度のチャットボットで実現します。</p>
        </div>
        
<div class="container">   
<div class="exp">            
    <div class="row">

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>効果的なチャットボット導入のステップ</h4>
            <h1>チャットボットの構築には次の5つのステップを必要とする</h1>
            <img class="img-responsive center-block" src=<%= asset_path "bot3.png" %>><br><br>
            <h1>チャットボットは有人対応と自己対応のギャップを埋める新たなユーザーインターフェース</h1>
            <img class="img-responsive center-block" src=<%= asset_path "bot5.png" %>><br><br>
            <h1>想定ユーザのチャットボット利用ストーリーを洗い出し、UXデザインとして対話フローを設計する</h1>
            <img class="img-responsive center-block" src=<%= asset_path "bot6.png" %>><br><br>
            <h1>チャットボットにおけるUXをまとめると次の4つのUX対応が必要となる</h1>
            <img class="img-responsive center-block" src=<%= asset_path "bot7.png" %>><br><br>
            <h1>UXデザインに失敗すると顧客に煙たがられて、クレームの発生源となってしまう</h1>
            <img class="img-responsive center-block" src=<%= asset_path "bot1.png" %>><br><br>
            <h1>加えて、チャットボット機能を差別化するための要素は以下の6つ</h1>
            <img class="img-responsive center-block" src=<%= asset_path "bot8.png" %>><br><br>
            <h1>弊社は世界最高制度のIBM Watsonをチャットボット構築プロフェッショナルのGLC社協力により構築</h1>
            <img class="img-responsive center-block" src=<%= asset_path "bot9.png" %>><br><br>
            <h1>つまりチャットボットを効果的にする差別化要素は「チャットボット機能の精度」と「UXデザインの追求力」の2つ</h1>
            <img class="img-responsive center-block" src=<%= asset_path "bot2.png" %>><br><br>
            <h1>弊社は高品質なチャットボット構築を低コストの実現</h1>
            <img class="img-responsive center-block" src=<%= asset_path "bot10.png" %>><br><br>
    　　</div>
        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
        
     </div>
</div>