        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>次世代コンサルティングサービス</h1>
            <p>戦略立案 × アナリティクス × デザイン思考の総合力で次世代コンサルティングを展開します。</p>
        </div>
        
<div class="container">   
<br>
<div class="exp">            
    <div class="row">

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>次世代コンサルティングのアプローチ</h4>
            <h1>■弊社ではデジタル戦略立案は主に次の7つのステップで実施いたします。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons2.png" %>><br><br>
            <h1>■自社ビジネス再定義フェーズでは、はじめに現状のデータ整備状況を確認し、データ活用案を弊社／顧客経営陣とで議論・抽出します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons4.png" %>><br><br>
            <h1>■次にデータ検討に加えて、将来シナリオワークショップにより弊社と顧客経営陣とで将来シナリオを分析し、リポジショニングを実施します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons5.png" %>><br><br>
            <h1>■ビジネスモデル立案フェーズでは、デザイン思考・リーンなどのシリコンバレー流ノウハウを活用して事業アイデアを具体化します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons7.png" %>><br><br>
            <h1>■はじめに将来ビジネスモデルとなるユースケースを出来るだけ洗い出し、デザイン思考などで具体化し、最後に実施に向けたロードマップを策定します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons8.png" %>><br><br>
            <h1>■事業絞り込みにおいては、M&Aファーム出身者によるバリュエーション評価手法に基づく実践的な事業性評価を実施します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons9.png" %>><br><br>
            <h1>■このように、M&A財務／WEB解析／テクノロジー×ビジネスノウハウ／デザイン思考（UX）などを複合的に活用し、御社が取るべき次世代WEB戦略を立案します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons10.png" %>><br><br>
    　　</div>

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
        
     </div>
</div>