        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>次世代コンサルティングサービス</h1>
            <p>戦略立案 × アナリティクス × デザイン思考の総合力で次世代コンサルティングを展開します。</p>
        </div>
        
<div class="container">   
<br>
<div class="exp">            
    <div class="row">

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>次世代コンサルティングのアプローチ</h4>
            <h1>デジタル戦略立案は主に次のような7つのステップで実施</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons2.png" %>><br><br>
            <h1>現状のデータ整備状況を確認し、データ活用案を弊社／顧客経営陣とで議論・抽出する</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons4.png" %>><br><br>
            <h1>データ検討に加えて、将来シナリオワークショップにより弊社と顧客経営陣とで将来シナリオを分析し、自社のリポジショニングを実施</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons5.png" %>><br><br>
            <h1>デザイン思考／UX／リーンモデルなどのシリコンバレー流ノウハウを活用して事業アイデアを創出</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons7.png" %>><br><br>
            <h1>将来ビジネスモデルとなるユースケースを洗い出し、具体化した上で、今後のロードマップを策定</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons8.png" %>><br><br>
            <h1>M&Aのバリュエーション評価手法に基づく実践的な事業性評価を実施</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons9.png" %>><br><br>
            <h1>M&A財務／WEB解析／テクノロジー×ビジネスノウハウ／デザイン思考（UX）などを複合的に活用し、御社が取るべき次世代WEB戦略を立案</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons10.png" %>><br><br>
    　　</div>

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
        
     </div>
</div>