        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AIビジネス立案ノウハウの獲得</h1>
            <p>あなたは「AIを使って新規事業を検討しろ！」と社長から言われて困っていたりしませんか？　
            本講座では大手コンサルティングファームで多くの実績をもったコンサルタントがAIを使ったビジネス検討のノウハウをご提供いたします。
            </p>
        </div>
        
<div class="container">   

    <div class="col-md-12" style="background:#ffffff; " >
         <h4>AI×IoTビジネス研修 基礎編</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div>
            <table style="font-size:20px;">
              <tr>
                <td width="1000">
                  <h7>はじめにAIビジネスを知る</h7><br>
                　<ul>
                　    <liはじめにAIとそのビジネス活用を知る</li>
                　  　 <video src="AI_business_training1.mp4"></video>
                　　 <li>事例から見るAIの全体像</li>
                　　 <video src=".mp4"></video>
                　</ul>
                </td>
              </tr>
            　<tr>
                <td width="1000">
                  <h7>はじめにAIビジネスを知る</h7><br>
                　<ul>
                     <li>AIビジネスキャンバスの学習</li>
                     <li>ケーススタディ１：きゅうりの画像識別</li>
                     <video src="video.mp4"></video>
                　</ul>
                </td>
              </tr>
            　<tr>
                <td width="1000">
                  <h7>AIの基礎知識</h7><br>
                　<ul>
                     <li>AIの基礎知識（機械学習）</li>    
                     <video src="video.mp4"></video>
                     <li>AIの基礎知識（ディープラーニング）</li>  
                     <video src="video.mp4"></video>
                     <li>AIの基礎知識（深層強化学習）</li>
                     <video src="video.mp4"></video>
                　</ul>
                </td>
              </tr>
            　<tr
                <td>
                  <h7>AIが出来ること／出来ないことの確認</h7><br>
                　<ul>
                    <li>AIが出来ること／出来ないこと①～②</li>
                    <li>ケーススタディ２：AIが出来ること／出来ないことの精査</li>
                    <video src="video.mp4"></video>
                    <li>AIが出来ること／出来ないこと③～④</li>
                    <li>ケーススタディ３：AIの精度の担保</li>
                    <video src="video.mp4"></video>
                　</ul>
                </td>
              </tr>
             
            　<tr>
                <td>
                  <h7>AIビジネス検討の総合演習</h7><br>
                　<ul>
                    <li>ケーススタディ４：医療におけるAI活用</li>
                    <video src="video.mp4"></video>
                    <li>ケーススタディ５：データの整備</li>
                    <video src="video.mp4"></video>
                　</ul>
                </td>
              </tr>
            </table><br><br>
    </div>



    <div class="row">

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>超初心者のための人工知能（AI/機械学習）を活用したビジネスモデル立案講座 -基礎編- </h4>
            <h1>■弊社ではデジタル戦略立案は主に次の7つのステップで実施いたします。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons2.png" %>><br><br>
            <h1>■自社ビジネス再定義フェーズでは、はじめに現状のデータ整備状況を確認し、データ活用案を弊社／顧客経営陣とで議論・抽出します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons4.png" %>><br><br>
            <h1>■次にデータ検討に加えて、将来シナリオワークショップにより弊社と顧客経営陣とで将来シナリオを分析し、リポジショニングを実施します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons5.png" %>><br><br>
            <h1>■ビジネスモデル立案フェーズでは、デザイン思考・リーンなどのシリコンバレー流ノウハウを活用して事業アイデアを具体化します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons7.png" %>><br><br>
            <h1>■はじめに将来ビジネスモデルとなるユースケースを出来るだけ洗い出し、デザイン思考などで具体化し、最後に実施に向けたロードマップを策定します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons8.png" %>><br><br>
            <h1>■事業絞り込みにおいては、M&Aファーム出身者によるバリュエーション評価手法に基づく実践的な事業性評価を実施します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons9.png" %>><br><br>
            <h1>■このように、M&A財務／WEB解析／テクノロジー×ビジネスノウハウ／デザイン思考（UX）などを複合的に活用し、御社が取るべき次世代WEB戦略を立案します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "cons10.png" %>><br><br>
    　　</div>

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
        
     </div>
</div>