         <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>デジタルトランスフォーメーション<br>対応サービス</h1>
            <p>AI活用・デジタルトランスフォーメーションをAIビジネス立案に向けて企業様が直面する様々な”お悩み”に対応するサービスの提供します。</p>
        </div>
        
<div class="container">   
<div class="exp">            
    <div class="row">

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>デジタルビジネス構築支援のメニュー</h4>
            <h1>■デジタルトレンド調査支援では、AI・IoT・ブロックチェーンなどの主要テクノロジーによって、どのようにビジネスモデルや業界そのものが変革しうるかトレンドや競合調査を行います。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "consul2.png" %>><br><br>
            <h1>■業界変革シナリオ分析では、弊社ファシリテーターとなるワークショップを通じて、ディスラプティブとなりうる業界変革を把握するシナリオ分析を実施し、御社の将来的なポジショニング戦略を立案します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "consul3.png" %>><br><br>
            <h1>■自社能力分析支援では、AIなどのデジタル活用に向けた組織能力などの現状調査を行います。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "consul4.png" %>><br><br>
            <h1>■AI検討のためのデータ会議では、御社の現状のデータ整備状況からAIなどの活用可能性について検討します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "consul5.png" %>><br><br>
            <h1>■デジタルビジネス検討支援では、デザイン思考／ジョブ理論／リーンスタートアップを活用してビジネスモデルを検討します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "consul6.png" %>><br><br>
            <h1>■デジタル活用組織構築支援では、組織変革ロードマップ作製やAI研修の提供により具体的に人材・組織構築を支援します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "consul7.png" %>><br><br>
            <h1>■AI実証実験支援では、弊社データサイエンティストにより、AIモデルが構築に向けた実証実験を支援します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "consul8.png" %>><br><br>
    　　</div>
        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
        
     </div>
</div>