        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AI人材育成<br>×<br>コンサルティング</h1>
            <p>あなたはAI・IoT・ブロックチェーンのビジネス活用に困っていませんか？<br>
               エデュテックパートナーズはクライアントと二人三脚で、テクノロジービジネスに向けた自立自走を支援する唯一無二の育成支援型コンサルティングカンパニーです。
            </p>
        </div>
     
        
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFF; height:150px;">
            <h2>AI人材の育成方法を知りたい！</h2>
            <h8><center>AI人材の育成方法について無料講座など豊富な情報を提供しています。</h8></center>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFF; height:300px;">
            <div class= "gaiyo">
                <a href="learning/data1">
                <div class="icon"><%= image_tag "thinking.png" %></div>
                <h1>AIモデル開発スキルを知る</h1>
                <p>
                AIスキルを身に着けるためのAIスキル体系を理解した上で、皆様の効率的な学習ステップをお教えします。。
                </p>
                </a>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFF; height:300px;">
            <div class= "gaiyo">
                <a href="learning/business1">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>AIビジネス推進スキルを知る</h1>
                <p>AIビジネスを企画・推進する際に必要となるスキル体系を理解し、効率的な学習ステップを確認します。
                </p>
                </a>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFF; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/seminar">
                <div class="icon"><%= image_tag "approach.png" %></div>
                <h1>AIビジネス推進人材育成プログラム</h1>
                <p>AIビジネスを成功させる人材を育成するAIビジネス推進人材育成プログラムについてご紹介いたします。
                </p>
                </a>
            </div>
        </div>        
    </div>  
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#E0FFFF; height:150px;">
            <h2>デジタルビジネスの実践力を獲得する</h2>
            <h8><center>AIスキルを獲得するための初学者向けのコンテンツを一部無料提供しています。</h8></center>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#E0FFFF; height:300px;">
            <div class= "gaiyo">
                <a href="learning/business2">
                <div class="icon"><%= image_tag "thinking.png" %></div>
                <h1>AIビジネスモデル立案講座（基礎編）</h1>
                <p>
                AIの全体像と基礎知識を理解した上で、AIビジネスモデルを立案するための初歩的なスキルを身に着けます。
                </p>
                </a>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#E0FFFF; height:300px;">
            <div class= "gaiyo">
                <a href="learning/business3">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>デジタル変革（DX）の実現に向けて</h1>
                <p>AIビジネス企画立案およびデジタル戦略立案について、本物の戦略レポートから内容を学習します。
                </p>
                </a>
            </div>
        </div>
    </div>  


    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFF; height:300px;">
            <h2>最新テクノロジー動向</h2>
                <div class="row">
        <div class="col-md-12" style="background:#ffffff; " >
            <p>
            弊社ツイッターまたはFacebookアカウントにて各サイトから厳選したテクノロジー情報のサマリーを配信しています。ただフォローするだけで最新テクノロジー情報を収集しましょう！
            </p>
            <center>
            <%= link_to image_tag("twitter.png"), "https://twitter.com/edutech_partnar" %>
            <%= link_to image_tag("facebook.jpg"), "https://www.facebook.com/%E3%82%A8%E3%83%87%E3%83%A5%E3%83%86%E3%83%83%E3%82%AF%E3%83%91%E3%83%BC%E3%83%88%E3%83%8A%E3%83%BC%E3%82%BA-301615603681595/" %></h2>
    　       </center>
    　　</div>
    </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#FFFFFF; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/dx-media">
                <div class="icon"><%= image_tag "media.png" %></div>
                <h1>最新テクノロジー動向</h1>
                <p>最新のテクノロジー情報を取得できるメディアを
                テクノロジー分類ごとにピックアップし、最新記事を紹介します。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#FFFFFF; height:300px;">
            <div class= "gaiyo">
                <a href="#">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>データサイエンス／AI講座の紹介</h1>
                <p>全国の企業様が提供するAI／データサイエンティスト研修の内容とレベル別にご紹介いたします。（工事中）
                </p>
                </a>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding:0; background:#ffffff;">
            <h2>主要な取引先／サービス提供先</h2><br><br><br>
           <img class="img-responsive center-block" src=<%= asset_path "houjin.png" %>>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="padding:0; background:#ffffff;">
            <h2>パートナー企業</h2>
            <div class="logo2">
                <a href="static_pages/kikagaku">
                    <img class="img-responsive center-block" src=<%= asset_path "logo_kikagaku.png" %>>
                </a>
                <a href="static_pages/justincase">
                    <img class="img-responsive center-block" src=<%= asset_path "logo_justincase.png" %>>
                </a>
                <a href="static_pages/glc">
                    <img class="img-responsive center-block" src=<%= asset_path "logo_GLC.png" %>>
                </a>
                <a href="static_pages/aisprits">
                    <img class="img-responsive center-block" src=<%= asset_path "logo_aisprits.png" %>>
                </a>
            </div>
        </div>
    </div>
    
   


    </div>
</div>