        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1 class="logo2"><%= image_tag("logo1.png") %></h1>
            <h1>テクノロジー教育<br>×<br>コンサルティング</h1>
            <p>あなたはAI・IoT・ブロックチェーンのビジネス活用に困っていませんか？
               251TECHNOLOGY（ニコイチテクノロジー）はクライアントと二人三脚で、
               御社自らがテクノロジーでビジネスを考える自立自走を支援する育成支援型コンサルティングカンパニーです。
            </p>
        </div>
        
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>人材育成<br>×<br>自立自走支援<br></h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0; background:white; height:300px;">
            <div class = "logo2">
                <%= link_to image_tag("service1.png"), static_pages_seminar_path %> 
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0; background:white; height:300px;">
            <div class = "logo2">
                <%= link_to image_tag("service2.png"), static_pages_middle_path %>
            </div>
        </div>
        <div class="ccol-md-4 col-sm-4 col-xs-12" style="padding:0; background:white; height:300px;">
            <div class = "logo2">
                <%= link_to image_tag("service3.png"), static_pages_pmo_path %>
            </div>
        </div>
        <div class="col-xs-12" style="padding:0; background:white; height:100px;">
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#C0C4F6; height:150px;">
            <h2>ハイレベルな講師陣<br>×<br>独自アプローチ</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#C0C4F6; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/about">
                <div class="icon"><%= image_tag "251.png" %></div>
                <h1>２５１について</h1>
                <p>２５１（ニコイチ）テクノロジー<br>
                についてのご説明
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#C0C4F6; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/approach">
                <div class="icon"><%= image_tag "approach.png" %></div>
                <h1>２５１のアプローチ</h1>
                <p>２５１の研修サービスなどに用いる<br>
                ノウハウやアプローチ方法のご説明
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#C0C4F6; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/member">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>講師 × コンサル</h1>
                <p>研修を担当する講師兼コンサルタント<br>
                の経歴及び実績
                </p>
                </a>
            </div>
        </div>
        <div class="col-xs-12" style="padding:0; background:#C0C4F6; height:100px;">
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#F1F3FE; height:150px;">
            <h2>最新テクノロジー情報<br>×<br>学習コンテンツ</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:300px;">
            <div class= "gaiyo">
                <a href="http://www.251media.jp/">
                <div class="icon"><%= image_tag "251media.png" %></div>
                <h1>251メディア</h1>
                <p>ビジネスパーソンに必要な教養や専門知識を動画・スライド・PDFなど
                の多様なソースで学べる教育メディア
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:300px;">
            <div class= "gaiyo">
                <a href="#">
                <div class="icon"><%= image_tag "learning1.png" %></div>
                <h1>テクノロジー道場</h1>
                <p>テクノロジー担当講師柴田が提供する学習コンテンツ。最新テクノロジー情報やオフライン講座などを提供（工事中）
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:300px;">
            <div class= "gaiyo">
                <a href="https://www.kanataw.com">
                <div class="icon"><%= image_tag "thinking.png" %></div>
                <h1>考えるエンジン講座</h1>
                <p>ＢＣＧ出身の現役コンサルタント高松が伝授する「考える力」でコンサル転職／ビジネスで群を抜く
                </p>
                </a>
            </div>
        </div>
    </div>
</div>