        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>テクノロジー教育<br>×<br>コンサルティング</h1>
            <p>あなたはAI・IoT・ブロックチェーンのビジネス活用に困っていませんか？
               エデュテックパートナーズはクライアントと二人三脚で、
               御社自らがテクノロジーでビジネスを考える自立自走を支援する育成支援型コンサルティングカンパニーです。
            </p>
        </div>
        
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>人材育成<br>×<br>自立自走支援<br></h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0; background:white; height:300px;">
            <div class = "logo2">
                <%= link_to image_tag("service1.png"), static_pages_seminar_path %> 
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0; background:white; height:300px;">
            <div class = "logo2">
                <%= link_to image_tag("service2.png"), static_pages_middle_path %>
            </div>
        </div>
        <div class="ccol-md-4 col-sm-4 col-xs-12" style="padding:0; background:white; height:300px;">
            <div class = "logo2">
                <%= link_to image_tag("service3.png"), static_pages_pmo_path %>
            </div>
        </div>
        <div class="col-xs-12" style="padding:0; background:white; height:100px;">
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#C0C4F6; height:150px;">
            <h2>ハイレベルな講師陣<br>×<br>独自アプローチ</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#C0C4F6; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/approach">
                <div class="icon"><%= image_tag "approach.png" %></div>
                <h1>アプローチ</h1>
                <p>サービスに用いるノウハウやアプローチ方法のご説明
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#C0C4F6; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/member">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>講師 </h1>
                <p>テクノロジー×ビジネス講座を担当する講師の経歴及び実績
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#C0C4F6; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/development">
                <div class="icon"><%= image_tag "develop.png" %></div>
                <h1>開発支援</h1>
                <p>コンサルから発生したAI/IoT開発についても一貫支援します
                </p>
                </a>
            </div>
        </div>
        <div class="col-xs-12" style="padding:0; background:#C0C4F6; height:100px;">
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#F1F3FE; height:150px;">
            <h2>最新テクノロジー情報<br>×<br>学習コンテンツ</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#F1F3FE; height:300px;">
            <div class= "gaiyo">
                <a href="#">
                <div class="icon"><%= image_tag "media.png" %></div>
                <h1>テックメディア</h1>
                <p>最新のテクノロジー情報を取得できるメディアを
                テクノロジー分類ごとにピックアップし、最新記事を紹介します。(工事中)
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#F1F3FE; height:300px;">
            <div class= "gaiyo">
                <a href="#">
                <div class="icon"><%= image_tag "learning1.png" %></div>
                <h1>テクノロジー道場</h1>
                <p>テクノロジー担当講師柴田が提供するテクノロジー学習コンテンツ。自立自走学習支援のためのコンテンツを提供します。（工事中）
                </p>
                </a>
            </div>
        </div>
    </div>
</div>