        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AI人材育成<br>×<br>コンサルティング</h1>
            <p>あなたはAI・IoT・ブロックチェーンのビジネス活用に困っていませんか？<br>
               エデュテックパートナーズはクライアントと二人三脚で、テクノロジービジネスに向けた自立自走を支援する唯一無二の育成支援型コンサルティングカンパニーです。
            </p>
        </div>
     
        
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>AI人材育成<br>×<br>自立自走支援<br></h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0; background:white; height:300px;">
            <div class = "logo2">
                <%= link_to image_tag("service1.png"), static_pages_seminar_path %> 
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0; background:white; height:300px;">
            <div class = "logo2">
                <%= link_to image_tag("service2.png"), static_pages_middle_path %>
            </div>
        </div>
        <div class="ccol-md-4 col-sm-4 col-xs-12" style="padding:0; background:white; height:300px;">
            <div class = "logo2">
                <%= link_to image_tag("service3.png"), static_pages_pmo_path %>
            </div>
        </div>
        <div class="col-xs-12" style="padding:0; background:white; height:100px;">
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#ffffff;">
            <h2>AI活用／デジタルトランスフォーメーションの課題に<br>柔軟に対応するサービスを提供</h2>　
        <div class= "gaiyo">
        <a href="static_pages/consulting2">
            <img class="img-responsive center-block" src=<%= asset_path "consul1.png" %>>
        </a>
    </div>
    <br>
 

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#C0C4F6; height:150px;">
            <h2>コンサルティングノウハウ<br>×<br>独自アプローチ</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#C0C4F6; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/strength">
                <div class="icon"><%= image_tag "develop.png" %></div>
                <h1>弊社の強み</h1>
                <p>
                戦略コンサルファームを超えるコンサルティング成果を低コストで提供
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#C0C4F6; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/member">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>専門家集団</h1>
                <p>弊社サービスを提供するコンサルタントおよび研修講師陣の経歴及び実績
                </p>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#C0C4F6; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/approach">
                <div class="icon"><%= image_tag "approach.png" %></div>
                <h1>アプローチ</h1>
                <p>サービスに用いるノウハウやアプローチ方法のご説明
                </p>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#F1F3FE; height:150px;">
            <h2>次世代ビジネスモデル構築<br>×<br>AI開発支援</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/consulting">
                <div class="icon"><%= image_tag "businessmodel.png" %></div>
                <h1>次世代ビジネス支援</h1>
                <p>AI×IoT×ブロックチェーンによるデジタル戦略・ビジネスモデル構築支援
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/bot">
                <div class="icon"><%= image_tag "chatbot.png" %></div>
                <h1>チャットボット導入支援</h1>
                <p>UXデザイン×世界最高チャットボットによる高品質なチャットボット導入
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/development">
                <div class="icon"><%= image_tag "AI.png" %></div>
                <h1>AIモデル構築支援</h1>
                <p>データサイエンティストによるAIモデル開発・データ分析までのトータル支援
                </p>
                </a>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#C0C4F6; height:150px;">
            <h2>最新テクノロジー情報<br>×<br>学習コンテンツ</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#C0C4F6; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/media">
                <div class="icon"><%= image_tag "media.png" %></div>
                <h1>最新テクノロジー動向</h1>
                <p>最新のテクノロジー情報を取得できるメディアを
                テクノロジー分類ごとにピックアップし、最新記事を紹介します。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#C0C4F6; height:300px;">
            <div class= "gaiyo">
                <a href="learning">
                <div class="icon"><%= image_tag "learning1.png" %></div>
                <h1>ノウハウ伝授します！</h1>
                <p>テクノロジー担当講師柴田が提供するテクノロジー学習コンテンツ。自立自走学習支援のためのコンテンツを提供します。
                </p>
                </a>
            </div>
        </div>
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#ffffff;">
            <h2>主要な取引先／サービス提供先</h2>

           <img class="img-responsive center-block" src=<%= asset_path "houjin.png" %>>
        
        </div>
    </div>
        <div class="col-xs-12" style="padding:0; background:#ffffff; height:100px;">
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
</div>