        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>共創型<br>コンサルティング</h1>
            <p>4週間の短期プロジェクト形式で、共にテクノロジー×ビジネスを検討します。</p>
        </div>
        
<div class="container">   
<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        <p>
        テクノロジー×ビジネス講座を受講していただいた企業様の受講生と弊社コンサルタント
        とでチームを組んで実際、テクノロジーを利用した戦略立案／新規事業立案を4週間の短期プロジェクト（スプリントと呼びます）かけて実施します。
        従来のコンサルティングサービスとは異なり、実際のプロジェクトの中核となるのは企業様有志の
        プロジェクトメンバーであり、弊社がPM/アドバイザー兼トレーナーとなり、
        プロジェクト支援と人材育成を兼ねて支援します。</p>
        
        <h1>戦略コンサル／デザインファーム／アジャイルのノウハウを掛け合せた弊社オリジナルの支援モデルを活用します。</h1>
            <ul>
                <li>戦略コンサルティング・アプローチ</li>
                <li>デザイン思考／リーンスタートアップ・アプローチ</li>
                <li>アジャイル（スクラム）・アプローチ</li>
            </ul>
        </div>
    </div>
</div>

<br><br>
<div class="exp">            
    <div class="row">

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>実施イメージ</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <br>
            <h1>１．弊社コンサルタントとお客様有志とでスクラムチームを形成します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "step1.png" %>><br><br>  
            
            <h1>２．【1日ワークショップ】プロジェクト開始前にプロジェクトで利用するノウハウと実行過程を体験学習します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "step1.5.png" %>><br><br>  
            
            <h1>３．【1週目】業界・競合・顧客・社内データを収集しマクロ環境分析を実施します。</h1>
            <p>
                黄色：弊社コンサルタントとの共同作業<br>
                白色：お客様チームの担当作業<br>
                赤色：弊社コンサルタントの担当作業<br>
            </p>
            <img class="img-responsive center-block" src=<%= asset_path "step2.png" %>><br><br>
            <h1>４．【1日ワークショップ】マクロ環境分析結果を受けて、シナリオプランニングを実施し、テクノロジーによる業界構造の将来予測を行います。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "step3.png" %>><br><br>
            <h1>５．【調整週】マクロ環境分析後にアンケート調査やエスノグラフィー調査に向けた調整期間をあけます（遅延のバッファとしても活用）</h1>
            <img class="img-responsive center-block" src=<%= asset_path "step4.png" %>><br><br>
            <h1>６．【2週目】販売現場やサービス利用現場、職場などの現場に出向きエスノグラフィー調査を実施します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "step5.png" %>><br><br>
            <h1>７．【3週目】デジタル戦略・新規事業を立案し、サービスモデルのプロトタイプを検証します。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "step6.png" %>><br><br>
            <h1>８．【4週目】これまで調査・実行・立案してきた内容を内部報告用のレポートして取り纏めます。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "step7.png" %>>             
    　　</div>

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>基本スケジュール</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <br>
            <h1>4週間</h1>
            
            <p>
                4週間の短期スプリントを基本にデジタル戦略／新規事業立案を実施します。<br>
                （※進捗状況に応じて6週間まで延無料長可能）</p>
    　　</div>
    　　
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>役割分担</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div><br>
            <h1>クライアント様</h1>
                <p>
                プロジェクトチームメンバーとしてプロジェクトに必要な調査・
                成果物の作成をしていただきます。プロジェクト完遂と共に人材育成も主眼に置いているため、
                クライアント様自らがプロジェクトを進める必要があります。
                </p>
        　　 <h1>弊社アドバイザー</h1>
                <p>
                会議：対面のプロジェクト検討会議（週次）／電話進捗会議（週次）
                役割：プロジェクトのアドバイザー兼ファシリテーターとして、プロジェクトへのアドバイス、
                期間内の成果物レビュー、会議アジェンダ設定・タスク管理を担当
                </p>
        </div>

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>対象者とゴール</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div><br>
            <h1>対象者</h1>
                <p>
                前提としてテクノロジー×ビジネスを考えることができる
                ノウハウを取得している必要があるため、テクノロジー×ビジネス講座の法人研修
                を受講した企業様有志によるプロジェクト形式を想定しております。
                </p>
            <h1>アウトプット</h1>
            <ul class= days>
                <li>AI／IoT／ブロックチェーンなどを活用した新規事業の立案</li>
                <li>全社あるいは事業部のデジタル戦略の立案</li>
                <li>デジタルトランスフォーメーション戦略の立案 など</li>
            </ul>
            <h1>人材育成</h1>
                <p>今後のデジタル戦略立案や新規事業立案を一貫して実行できる人材の育成
                </p>
        </div>

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
        
     </div>
</div>

