        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>テクノロジー<br>
            ×<br>
            ビジネス講座</h1>
            <p>AIなどを全くしらないあなたでも、今後のビジネスに必須テクノロジーであるAI・IoT・ブロックチェーンなどを用いてビジネスを考えるノウハウをたった1日で学ぶことができます。</p>
        </div>
        
        <div class =logo2>
            <h5><%= link_to "共創型コンサルティング支援のご説明はこちら", static_pages_middle_path %><br>
            <h5><%= link_to "長期自立自走支援のご説明はこちら", static_pages_pmo_path %></h5>
        </div>
        
<div class="exp">  
<div class="container">        
    <div class="row">
        <div class="col-md-4  col-xs-12" style="background:white; " >
            <lavel>
                <h2>AI</h2>
                <h3>AIの基礎知識を学んだ上で、弊社独自のAIモデルキャンバスを利
                用したAIビジネスのケーススタディを7本実施して、AIでビジネスを考え
                るノウハウを習得します。</h3>
            </lavel>
        </div>

        <div class="col-md-4  col-xs-12" style="background:white;">
            <lavel>
                <h2>IoT</h2>
                <h3>IoTの基礎知識を学んだ上で、デザイン思考を利用したIoT×AIによる
                ビジネス検討ワークショップを実施し、AIとIoTを掛け合わせた新規事業
                立案を体験します。</h3>
            </lavel>
        </div>

        <div class="col-md-4  col-xs-12" style="background:white; ">
            <lavel>
                <h2>ブロックチェーン</h2>
                <h3>ブロックチェーンの基礎知識学習後、ブロックチェーンモデ
                ルキャンバスを利用したケースを8本実施、ブロックチェーンでビジネ
                スを考えるノウハウを習得します。</h3>
            </lavel>
        </div> 
    </div>
    <div class ="row">
        <div class="col-md-6  col-xs-12" style="background:white; ">
            <lavel>
                <h2>その他(RPA・APIなど)</h2>
                <h3>その他の重要トピックであるクラウド、ビッグデータ、RPA、API
                エコノミーの基礎知識を学んだ上で、RPAとAPIエコノミーのケーススタ
                ディで実践します。</h3>
            </lavel>
        </div>           
 
        <div class="col-md-6 col-xs-12" style="background:white; ">
            <lavel>
                <h2>自立自走に向けて</h2>
                <h3>研修終了後の受講生の自立自走を支援するため、「社内での活かし方
                やAI・IoT・ブロックチェーンの継続的な学習方法／スキルの活かし方に
                ついて把握します。 </h3>
            </lavel>
        </div>    
    </div>
            
    <div class="col-xs-12" style="background:white; height:100px;">     
    　　<div class="logo2">
            <%= link_to image_tag("yoyaku.png"), reserve_path %>
        </div>
    </div>
    <div class = "row">
        <div class="col-xs-12"　style="background:white;">     
            <h6>エデュテックパートナーズが考える<br>テクノロジー全体像</h6>
            <div class="logo2">
                <img class="img-responsive center-block" src=<%= asset_path "technologyall.png" %>>
            </div>
        </div>
    </div>
    
    <br>
    <br>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff;" >
            <h4>講座日程</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <br>
            <ul class= days>
                <li>10/21(土)   AI×IoT研修　9:30~18:30 場所：新宿曙橋⇒終了</li>
                <li>10/22(日)   AI×IoT研修　9:30~18:30 場所：新宿曙橋⇒終了</li>
                <li>11/26(日)   AI×IoT研修　9:30~18:30 場所：池袋⇒終了</li>
            </ul>
            <p>※一般向け講座の次回開催は未定となっております。</p>
        </div>
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff;" >
            <h4>時間と料金</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <p>
            【個人向け研修】<br>
             1日8時間 （9:30~18:30）<br>
            個人向け料金：5万円（税抜き）<br><br>
            【法人向け研修】<br>
             1日8時間 （9:30~18:30）
            法人研修料金（グループ学習主体のため人数規模単位の設定となります。）<br>
            ・  ～6名：35万円（税抜き）<br>
            ・ 7~10名：55万円（税抜き）<br>
            ・11~15名：80万円（税抜き）<br>
            ・16~20名：100万円（税抜き）<br>
            ・20名を超える場合は一人当たり5万円<br>
            <h5><%= link_to "　※法人向け研修のご説明はこちら", static_pages_seminar2_path %></h5>
            </p>
        </div>
        
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff;" >
            <h4>対象者とゴール</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div><br>
            <h1>【対象者】</h1>
                <p>テクノロジーを利用した事業立案・戦略に携わる非エンジニアの方
                （経営者、経営企画、コンサルタント、学生など）を想定</p>
            <h1>【ゴール】</h1>
            <ul class= days>
                <li>AI・IoT・ブロックチェーンを活用したビジネスを検討できるようになる。</li>
                <li>AI・IoT・ブロックチェーンの活用について上司に説明できるようになる。</li>
                <li>テクノロジーベンダーやコンサルタントに依頼する際に、テクノロジーを理解しつつ意味のある話し合いができるようになる。</li>
            </ul>
        </div>

         <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>当日の時間割</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <div class="col-md-12 col-xs-12" style="background:#ffffff;" >
            <table>
            <br>
              <h1>AI×IoTでビジネスを考える1日集中講座</h1>
              <p>
              <tr>
                <th>時間</th>
                <th>内容</th>
              </tr>
              <tr>
                <td width="70">9:30-10:00</td>
                <td>
                  <h7>AIモデルの把握</h7><br>
                　<ul>
                    <li>AIモデルの基本3ステップ</li>
                    <li>ディープラーニング・デモ体験</li>
                    <li>AIモデルキャンバスの使い方</li>
                    <li>ケーススタディ１（きゅうりの仕分け）</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>10:00-10:30</td>
                <td>
                  <h7>AIビジネス基礎</h7><br>
                　<ul>
                    <li>AIとは何か</li>
                    <li>機械学習の仕組み</li>
                    <li>ディープラーニングの仕組み</li>
                    <li>深層強化学習（アルファ碁）の仕組み</li>
                    <li>AIの出来ること・出来ないこと</li>
                　</ul>
                </td>
              </tr>
              <tr>
                <td>10:40-12:00</td>
                <td>
                  <h7>AI機能学習とケーススタディ前半</h7><br>
                　<ul>
                    <li>画像識別の事例学習</li>
                    <li>ケーススタディ２（高速道路自動運転の環境認識）</li>
                    <li>予測分析の事例学習</li>
                    <li>ケーススタディ３（レコメンデーション分析）</li>
                    <li>ケーススタディ４（衣料品店でのAI活用）</li>
                    <li>言語識別の仕組みと事例学習</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>12:00-13:00</td>
                <td>
                    <h7>お昼（兼質問タイム）</h7>
                </td>
              </tr>
               <tr>
                <td>13:00-14:50</td>
                <td>
                  <h7>AI機能学習とケーススタディ後半</h7><br>
                　<ul>
                    <li>ケーススタディ５（弁護士業務におけるAI活用）</li>
                    <li>音声識別の仕組みと事例学習</li>
                    <li>ケーススタディ６（Amazon Alexaの活用）</li>
                    <li>生成・制御の仕組みと事例学習</li>
                    <li>ケーススタディ７（広告業務におけるAI活用）</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>15:00-15:50</td>
                <td>
                  <h7>IoTビジネス基礎</h7><br>
                　<ul>
                    <li>明日話したくなるIoT事例10</li>
                    <li>IoTビジネスモデル</li>
                    <li>IoTビジネスの本質</li>
                    <li>IoTシステムとは</li>
                    <li>IoT検討に必要なノウハウ</li>
                    <li>GEの事例研究</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>16:00-17:50</td>
                <td>
                  <h7>デザイン思考ワークショップ</h7><br>
                　<ul>
                    <li>デザイン思考ワークショップ（IoT・AIを活用した介護事業の検討）</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>18:00-18:30</td>
                <td>
                  <h7>自立自走に向けて</h7><br>
                　<ul>
                    <li>個人での活かし方（IoT編）</li>
                    <li>個人での活かし方（AI編）</li>
                    <li>社内での活かし方</li>
                　</ul>
                </td>
              </tr>
              </p>
            </table>
            </div>
            <div class="col-md-12 col-xs-12" style="background:#ffffff;" >
            <table>
            <br><br><br>
              <h1>ブロックチェーンでビジネスを考える1日集中講座</h1>
              <p>
              <tr>
                <th>時間</th>
                <th>内容</th>
              </tr>
              <tr>
                <td width="70">９:00-10:00</td>
                <td>
                  <h7>ブロックチェーンが出来る事の理解</h7><br>
                　<ul>
                    <li>明日話したくなるブロックチェーン・事例10と将来予測6　　　　　</li>
                    <li>ブロックチェーン概要</li>
                    <li>ブロックチェーンモデルキャンバス理解</li>
                    <li>ケーススタディ１（仮想通貨）</li>                    
                　</ul>
                </td>
              </tr>
              <tr>
                <td>10:00-11:00</td>
                <td>
                  <h7>ブロックチェーン技術</h7><br>
                　<ul>
                    <li>分散共有台帳（P2P）</li>
                    <li>ブロックデータ構造と暗号化技術</li>
                    <li>合意形成アルゴリズム</li>
                    <li>質問タイム</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>11:00-11:50</td>
                <td>
                  <h7>ブロックチェーン機能学習とケーススタディ初級</h7><br>
                　<ul>
                    <li>スマートコントラクト</li>
                    <li>ケーススタディ２（スマートコントラクト）</li>
                    <li>トークンとトークンエコノミー</li>
                    <li>ケーススタディ３（個人株式発行VALU）</li>
                　</ul>
                </td>
              </tr>
            　<tr>
                <td>11:50-12:50</td>
                <td>
                  <h7>お昼（兼質問タイム）</h7>
                </td>
              </tr>
              <tr>

              <tr>
                <td>12:50-14:10</td>
                <td>
                  <h7>ブロックチェーン金融事例とケーススタディ前半</h7><br>
                　<ul>
                    <li>金融事例概要</li>
                    <li>ケーススタディ４（銀行間決済のブロックチェーン化）</li>
                    <li>ケーススタディ５（証券取引のブロックチェーン化）</li>
                    <li>ケーススタディ６（ID認証のブロックチェーン化）</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>12:50-15:00</td>
                <td>
                  <h7>ブロックチェーン金融事例とケーススタディ後半</h7><br>
                　<ul>
                    <li>非金融事例概要</li>
                    <li>ケーススタディ７（太陽光発電市場）</li>
                    <li>ケーススタディ８（シェアリングサービス）</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>15:20-17:00</td>
                <td>
                  <h7>その他テクノロジー</h7><br>
                　<ul>
                    <li>クラウド</li>
                    <li>ビッグデータ</li>
                    <li>APIエコノミー</li>
                    <li>ケーススタディ９（API活用）</li>
                    <li>RPA×AIによる業務自動化</li>
                    <li>ケーススタディ１０（RPA×AI）</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>17:10-17:30</td>
                <td>
                  <h7>自立自走に向けて</h7><br>
                　<ul>
                    <li>個人での活かし方（ブロックチェーン）</li>
                    <li>社内での活かし方</li>
                　</ul>
                </td>
              </tr>
              </p>
            </table>
            </div>
        </div>
    </div>
    
       <br><br>
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>授業評価（ストアカでの2時間短縮講座の評価抜粋）</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
            </div><br>
    
            <div class = "row">
                <div class="col-md-12" style="background:#ffffff;" >
                    <img class="img-responsive center-block" src=<%= asset_path "evaluate1.png" %>>
                </div>
            </div>
        </div>
    <br>

    </div>
        <h4>授業風景</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
        </div><br>

    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu5.JPG" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu6.JPG" %>>
        </div>
    </div>

        
    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu1.jpg" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu3.JPG" %>>
        </div>
    </div>
    
    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu2.JPG" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" > 
            <img class="img-responsive center-block" src=<%= asset_path "yousu4.JPG" %>>
        </div>
    </div>
    
    </div>
        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
    </div>
</div>
</div>

