        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>研修コンセプト</h1>
        </div>
        
<div class="container">   
<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h1>■「目的なしのAI発注を依頼されるなど、発注企業とコミュニケーションがうまく取れない！」といったことにAIベンダーとして悩んでいませんか？</h1>
            <img class="img-responsive center-block" src=<%= asset_path "concept1.png" %>><br><br>  
            <h1>■または「AI／ディープラーニングで何かやってよ！」という社長からの無茶ぶりに悩ませれていませんか？</h1>
            <img class="img-responsive center-block" src=<%= asset_path "concept2.png" %>><br><br> 
            <h1>■なぜこのような悩みが増えているのでしょうか？　その理由としては、これまでは基幹システムなどのITをビジネス側が利用している関係だったものが、AIやIoTを利用してビジネスを検討しなければならなくなったことに起因しています。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "concept4.png" %>><br><br>  
            <h1>■日本のマネージメント層のAI理解度は7.7%と低く、経営層がAIを活用できていないのが実情となっています。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "concept5.png" %>><br><br> 
            <h1>■そのため、企業側のノウハウ欠如により、ソフトウェア開発の延長で、AIやIoT事業をコンサルやベンダーに丸投げする傾向が増加しています。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "concept6.png" %>><br><br>  
            <h1>■そうした発注企業のノウハウ欠如により、AI開発における失敗プロジェクトが増加しています。以下の4つはNTTデータによる失敗プロジェクトの典型例です。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "concept7.png" %>><br><br>  
            <h1>■AI開発は次のようなプロセスで展開されます。「青がビジネス力」「赤がAI技術力」を示しています。<br><br>
            最初に課題を見つけてAIサービスモデルを構築し実証実験に向けた意思決定をします。そして、実証実験がおわると、その結果を検証としてシステム開発を進めるか否かの意思決定をします。<br><br>
            このように各フェーズにおいてビジネス力が求められていますが、そこのノウハウが欠如していることがプロジェクト失敗の大きな原因になっているのです。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "concept8.png" %>><br><br>  
            <h1>■そこで弊社は企業自らAIなどでビジネス検討できる初心者向けテクノロジー×ビジネス研修サービスを提供しています。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "concept10.png" %>><br><br>  
            <h1>■弊社の研修は他社では真似できないコンサルティングファームのノウハウとデータサイエンティストのノウハウを掛け合せた実践的な内容です。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "concept13.png" %>><br><br>
            <h1>■弊社研修プログラムによって、AI開発の失敗例を回避し、最適なAIビジネスモデル構築を支援いたします。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "concept12.png" %>><br><br> 
        </div>

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>

     </div>
</div>
