        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AI・IoT<br>
            ×<br>
            ビジネス講座</h1>
            <p>AIなどを全くしらないあなたでも、今後のビジネスに必須テクノロジーであるAI・IoTを用いてビジネスを考えるノウハウをたった1日で学ぶことができます。</p>
        </div>
        
        <div class =logo2>
            <h5><%= link_to "共創型コンサルティング支援のご説明はこちら", static_pages_middle_path %><br>
            <h5><%= link_to "長期自立自走支援のご説明はこちら", static_pages_pmo_path %></h5>
        </div>
        
        
        
<div class="exp">  
<div class="container">        
    <div class="logo2">
        <img class="img-responsive center-block" src=<%= asset_path "aitraining.png" %>><br>
    </div>


    <div class="youtube-container">
        <h1 align="center">    
        <iframe id="player" type="text/html" width="640" height="390"
          src="//www.slideshare.net/slideshow/embed_code/key/oozSppelSFtFor"
          frameborder="0" allowfullscreen="true"></iframe>
        </h1>
    </div>    
    <br><br>

         <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>AI×IoTビジネス研修の詳細スケジュール</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <div class="col-md-12 col-xs-12" style="background:#ffffff;" >
            <table>
            <br>
              <h1>AI×IoTでビジネスを考える1日集中講座</h1>
              <p>
              <tr>
                <th>時間</th>
                <th>内容</th>
              </tr>
              <tr>
                <td width="70">10:00-10:40</td>
                <td>
                  <h7>AIモデルの把握</h7><br>
                　<ul>
                     <li>明日話したくなるAI事例10</li>
                     <li>AIモデルの基本3ステップ</li>
                     <li>ディープラーニング・デモ体験</li>
                     <li>AIモデルキャンバスの使い方</li>
                     <li>ケーススタディ①（きゅうり仕分）</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>10:40-11:00</td>
                <td>
                  <h7>AIビジネス基礎</h7><br>
                　<ul>
                    <li>AIとは何か</li>
                    <li>機械学習の仕組み</li>
                    <li>ディープラーニングの仕組み</li>
                    <li>深層強化学習（アルファ碁）の仕組み</li>
                    <li>AIの出来ること・出来ないこと</li>
                　</ul>
                </td>
              </tr>
              <tr>
                <td>11:10-12:30</td>
                <td>
                  <h7>AI機能学習とケーススタディ前半</h7><br>
                　<ul>
                    <li>画像識別の事例学習</li>
                    <li>ケーススタディ２（高速道路自動運転の環境認識）</li>
                    <li>予測分析の事例学習</li>
                    <li>ケーススタディ３（レコメンデーション分析）</li>
                    <li>ケーススタディ４（衣料品店でのAI活用）</li>
                    <li>言語識別の仕組みと事例学習</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>12:30-13:30</td>
                <td>
                    <h7>お昼（兼質問タイム）</h7>
                </td>
              </tr>
               <tr>
                <td>13:30-15:50</td>
                <td>
                  <h7>AI機能学習とケーススタディ後半</h7><br>
                　<ul>
                    <li>ケーススタディ５（弁護士業務におけるAI活用）</li>
                    <li>音声識別の仕組みと事例学習</li>
                    <li>ケーススタディ６（Amazon Alexaの活用）</li>
                    <li>生成・制御の仕組みと事例学習</li>
                    <li>ケーススタディ７（広告業務におけるAI活用）</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>16:00-17:00</td>
                <td>
                  <h7>IoTビジネス基礎</h7><br>
                　<ul>
                    <li>明日話したくなるIoT事例10</li>
                    <li>IoTビジネスモデル</li>
                    <li>IoTビジネスの本質</li>
                    <li>IoTシステムとは</li>
                    <li>IoT検討に必要なノウハウ</li>
                    <li>ケーススタディ8（ジョブ理論の実践）</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>17:00-19:00</td>
                <td>
                  <h7>デザイン思考ワークショップ</h7><br>
                　<ul>
                    <li>デザイン思考ワークショップ（IoT・AIを活用した介護事業の検討）</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>後続学習用コンテンツ</td>
                <td>
                  <h7>自立自走に向けて（自習向け）</h7><br>
                　<ul>
                    <li>個人での活かし方（IoT編）</li>
                    <li>個人での活かし方（AI編）</li>
                    <li>社内での活かし方</li>
                　</ul>
                </td>
              </tr>
              </p>
            </table>
            </div>
            </div>
        </div>
    </div>
       <br><br>
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>授業評価（ストアカでの2時間短縮講座の評価抜粋）</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
            </div><br>
    
            <div class = "row">
                <div class="col-md-12" style="background:#ffffff;" >
                    <img class="img-responsive center-block" src=<%= asset_path "evaluate1.png" %>>
                </div>
            </div>
        </div>
        
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <br><br>
            <h4>研修実績</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
            </div><br>
    
            <div class = "row">
                <div class="col-md-12" style="background:#ffffff;" >
                    <h1>■これまで個人研修で300名以上の方にサービスを提供</h1>
                    <img class="img-responsive center-block" src=<%= asset_path "jiseki4.png" %>><br><br><br>
                    <h1>■大手IT企業様は次世代事業プロジェクトを推進するために弊社研修を活用し、AIビジネス検討ノウハウの共有化を実現</h1>
                    <img class="img-responsive center-block" src=<%= asset_path "jiseki1.png" %>><br><br><br>
                    <h1>■浦和レッズ様はスポーツにおけるテクノロジー活用案作成にカスタマイズ研修を活用</h1>
                    <img class="img-responsive center-block" src=<%= asset_path "jiseki2.png" %>><br><br><br>
                    <h1>■地方金融機関様はイノベーションチームの立上げにおいて、ノウハウを獲得するために弊社研修サービスを活用</h1>
                    <img class="img-responsive center-block" src=<%= asset_path "jiseki3.png" %>><br><br><br>
                </div>
            </div>
        </div>
    <br>
    
    

   
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff;" >
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
            <br><br>
            
            <h1>他社研修よりも実践的でコスト効果の高い研修成果を保証いたします。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "concept13.png" %>><br>
            <h5><%= link_to "研修コンセプトのご説明ページへ", static_pages_seminar2_path %></h5><br>
            <h4>講座日程</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <br>
            <ul class= days>
                <li>7/14(土)   AI×IoTビジネス研修　10:00~19:00 場所：東京都新宿区四谷2-12-5 四谷ISYビル アクトコール本社５F</li>
                <li>8/18(土)   AI×IoTビジネス研修　10:00~19:00 場所：東京都新宿区四谷2-12-5 四谷ISYビル アクトコール本社５F</li>
            </ul>
        </div>
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff;" >
            <h4>時間と料金</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <p>
            【個人向け研修】<br>
             1日8時間 （10:00~19:00）<br>
            個人向け料金：5万円（税抜き）<br><br>
            【法人向け研修】<br>
             1日8時間 
            法人研修料金（グループ学習主体のため人数規模単位の設定となります。）<br>
            ・5名30万円より～　御社のAI活用能力診断に基づいたカスタマイズ研修も可能です。
            <img class="img-responsive center-block" src=<%= asset_path "houjin0.png" %>><br>
            <h5><%= link_to "　※法人向けカスタマイズ研修のご説明はこちら", static_pages_middle_path %></h5>
            </p>
        </div>

    </div>
        <h4>授業風景</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
        </div><br>

    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu5.JPG" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu6.JPG" %>>
        </div>
    </div>

        
    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu1.jpg" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu3.JPG" %>>
        </div>
    </div>
    
    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu2.JPG" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" > 
            <img class="img-responsive center-block" src=<%= asset_path "yousu4.JPG" %>>
        </div>
    </div>
    
    </div>
        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
    </div>
</div>
</div>

