        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AI・IoT・ブロックチェーン<br>
            ×<br>
            ビジネス講座（法人）</h1>
            <p>AIなどを全くしらないあなたでも、今後のビジネスに必須テクノロジーであるAI・IoT・ブロックチェーンなどを用いてビジネスを考えるノウハウをたった1日で学ぶことができます。</p>
        </div>
        
        <div class =logo2>
            <h5><%= link_to "共創型コンサルティング支援のご説明はこちら", static_pages_middle_path %><br>
            <h5><%= link_to "長期自立自走支援のご説明はこちら", static_pages_pmo_path %></h5>
        </div>
        
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        <p>
        社内の経営企画部や情報システム部などの有志10名～20名程度に対して法人研修を提供します。
        複数のプログラムを組合わせることでテクノロジーを活用したビジネスを検討できる人材を育成します</p>
        </div>
    </div>
</div>

<div class="exp">            
    <div class="row">
 
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        <h4>研修メニュー</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
        </div>
            <h1>研修の種類</h1>
            <ul class= days>
                <li>AI×IoTでビジネスを考える1日集中講座</li>
                <li>ブロックチェーンでビジネスを考える1日集中講座</li>
                <li>業界将来予測を実施するシナリオプランニング研修</li>
            </ul>
        </div>

 
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>基本スケジュール</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <h1>1日～3日</h1>
            <p>1日（8時間）研修の組合せで実施します。</p>
            
            <div class="col-md-8" style="background:#ffffff; " >
                 <img class="img-responsive center-block" src=<%= asset_path "seminar.png" %>>
            </div>  
        </div>
 
 
 
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff;" >
            <h4>対象者とゴール</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div><br>
            <h1>【対象者】</h1>
                <p>テクノロジーを利用した事業立案・戦略に携わる帰郷内の部署や有志メンバーを想定</p>
            <h1>【ゴール】</h1>
            <ul class= days>
                <li>AI・IoT・ブロックチェーンを活用したビジネスを検討できるようになる。</li>
                <li>AI・IoT・ブロックチェーンの活用について上司に説明できるようになる。</li>
                <li>テクノロジーベンダーやコンサルタントに依頼する際に、テクノロジーを理解しつつ意味のある話し合いができるようになる。</li>
            </ul>
        </div>
        

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"), inquiry_path %>
            </div>
        </div>
    </div>
</div>


