        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AIビジネス推進人材育成プログラム</h1>
            <p>AIなどを全くしらないあなたでも、今後のビジネスに必須テクノロジーであるAI・IoTを用いてビジネスを考えるノウハウをたった2日で学ぶことができます。</p>
        </div>
        
<div class="container">       
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFF; height:150px;">
            <h2>AIビジネス推進人材とは？</h2>
            <h8><center>AIビジネスを推進するための3つのノウハウを有した人材です</h8></center>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFF; height:300px;">
            <div class= "gaiyo">
                <a href="learning/business1">
                <div class="icon"><%= image_tag "thinking.png" %></div>
                <h1>AIビジネス企画力</h1>
                <p>
                AI技術を理解し、AIで可能なビジネス企画や開発計画を立案できるノウハウ
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFF; height:300px;">
            <div class= "gaiyo">
                <a href="learning/business1">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>AIビジネス推進力</h1>
                <p>AIエンジニアと共にAI推進プロジェクトを管理・推進するノウハウ
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFF; height:300px;">
            <div class= "gaiyo">
                <a href="learning/business1">
                <div class="icon"><%= image_tag "approach.png" %></div>
                <h1>AIビジネス経営力</h1>
                <p>AIによってデジタル戦略立案やイノベーションを推進できるノウハウ
                </p>
                </a>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#E0FFFF; height:150px;">
            <h2>習得できるスキル</h2>
            <h8><center>AIビジネス推進人材育成プログラムで習得できるスキル</h8></center>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#E0FFFF; height:400px;">
            <div class= "gaiyo">
                <a href="learning/business1">
                <div class="icon"><%= image_tag "thinking.png" %></div>
                <h1>AI技術の理解</h1>
                <p>
                ディープラーニングなどのAI技術の理解を理論／ハンズオンで実践的に理解します。その上で、AIが出来る事／出来ない事をケーススタディを通して学習
                することで、現実的なAIビジネス企画が立案できるためのベースを確立します。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#E0FFFF; height:400px;">
            <div class= "gaiyo">
                <a href="learning/business1">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>AI企画立案力</h1>
                <p>デザイン思考などイノベーションノウハウを学習し、明確な目的からAIビジネス企画を立案する能力を獲得します。さらにはデータ起点のAI可否検、データ
                収集計画立案、AI精度対策などAIビジネスを詳細化するノウハウまで獲得します。
                </p>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#E0FFFF; height:400px;">
            <div class= "gaiyo">
                <a href="learning/business1">
                <div class="icon"><%= image_tag "approach.png" %></div>
                <h1>AIプロジェクト管理力</h1>
                <p>AIプロジェクト管理やAIプロジェクト推進に必要なノウハウを学習した上で、模擬AIプロジェクトを通じたAI開発をAzure Machine Learningを利用して体験
                することで、実践的なAIプロジェクトの管理ノウハウを獲得します。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#E0FFFF; height:400px;">
            <div class= "gaiyo">
                <a href="learning/business1">
                <div class="icon"><%= image_tag "thinking.png" %></div>
                <h1>AIツール利用ノウハウ</h1>
                <p>
                R言語の基礎を理解し、データ分析を経営に活かすための基本ノウハウを獲得します。さらんはAzure Machine LearningやIBM WatsonといったAIツールを自分の手で
                利用することで、AI実践力を身に着けます。
                </p>
                </a>
            </div>
        </div>
    </div>
    
    <div class="logo2">
        <%= link_to image_tag("yoyaku.png"), reserve_path %>
    </div>

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFF; height:150px;">
            <h2>詳細を知る</h2>
            <h8><center>プログラムの詳細は次のファイルをご参照ください</h8></center>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
            <div class="youtube-container">
                <h1 align="center">    
                <iframe id="player" type="text/html" width="640" height="390"
                  src="//www.slideshare.net/slideshow/embed_code/key/m1Py5lcEff9w9Q"
                  frameborder="0" allowfullscreen="true"></iframe>
                </h1>
                
            </div>  
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
            <div class="youtube-container">
                <h1 align="center">    
                <iframe id="player" type="text/html" width="640" height="390"
                  src="//www.slideshare.net/slideshow/embed_code/key/3Mm7xsyMfKjfIi"
                  frameborder="0" allowfullscreen="true"></iframe>
                </h1>
            </div>  
         </div>  
     </div> 
     
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 style"="background:#ffffff; " >
        　　 <p>紹介動画</p>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="320" height="195"
                      src="https://www.youtube.com/embed/-je_pjY5M-8"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>
        </div>
     </div> 
     
    <br><br>
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFF; height:150px;">
            <h2>カリキュラム</h2>
         </div>
    </div>
    
    <div class="exp">  
        <h4>事前学習①（e-learning）</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <table style="font-size:20px;">
              
              <tr>
                <th>時間</th>
                <th>内容</th>
              </tr>
              
              <tr>
                <td width="120">３０分</td>
                <td width="1000">
                  <h7>まずはAIを知ろう！</h7><br>
                　<ul>
                     <li>AIによるビジネス変革</li>
                     <li>AIにおけるビジネス力</li>
                　</ul>
                </td>
              </tr>
              
              <tr>
                <td>３０分</td>
                <td>
                  <h7>事例から見るAIの全体像</h7><br>
                　<ul>
                     <li>画像識別の事例</li>
                     <li>言語識別の事例</li>
                     <li>音声識別の事例</li>
                     <li>予測分析の事例</li>
                     <li>生成・制御の事例</li>
                　</ul>
                </td>
              </tr>
              
              <tr>
                <td>ケース時間含め４５分</td>
                <td>
                  <h7>AIモデルキャンバスの学習</h7><br>
                　<ul>
                     <li>AIモデルキャンバスの学習</li>
                     <li>画像識別の出来る事／出来ない事</li>
                     <li>ケーススタディ１（きゅうりの仕分けシステム）</li>
                　</ul>
                </td>
              </tr>

              <tr>
                <td>70分</td>
                <td>
                  <h7>AIの基礎知識</h7><br>
                　<ul>
                     <li>AIの基礎知識（機械学習とAI）</li>
                     <li>AIの基礎知識（ディープラーニングの仕組み理解）</li>
                     <li>実際にディープラーニングを見てみる</li>
                     <li>AIの基礎知識（アルファ碁による深層強化学習）</li>
                　</ul>
                </td>
              </tr>
              
              <tr>
                <td>ケース時間含め６０分</td>
                <td>
                  <h7>AIの出来る事／出来ない事の学習</h7><br>
                　<ul>
                    <li>AIが出来る事</li>
                    <li>AIが出来ない事①</li>
                    <li>AIが出来ない事②</li>
                    <li>ケーススタディ２（AI出来る事／出来ない事の判別）</li>
                    <li>AIの出来ない事③</li>
                    <li>AIの出来ない事④</li>
                    <li>ケーススタディ３（自動運転におけるAIの精度対応）</li>
                　</ul>
                </td>
              </tr>

              <tr>
                <td>ケース時間含め４０分</td>
                <td>
                  <h7>AIモデルキャンバスの総合演習</h7><br>
                　<ul>
                    <li>ケーススタディ４（AIドクターの企画立案）</li>
                    <li>ケーススタディ５（AIドクターのデータ整理方法）</li>
                　</ul>
                </td>
              </tr>
  
              <tr>
                <td>４０分</td>
                <td>
                  <h7>AIビジネス企画立案ノウハウ</h7><br>
                　<ul>
                     <li>AIビジネス企画立案ステップ</li>
                     <li>実態調査フェーズ</li>
                     <li>AIビジネス企画書の立案</li>
                     <li>AI開発企画書の立案</li>
                　</ul>
                </td>
              </tr>
              
              <tr>
                <td>１０分</td>
                <td>
                  <h7>実行力を持たせるためのAIビジネス企画案の検証</h7><br>
                　<ul>
                     <li>ビジネス案検証フェーズ</li>
                     <li>ビジネス実効性検証フェーズ</li>
                　</ul>
                </td>
              </tr>
            </table><br><br>

        <h4>プログラム1日目（AI機能とツール学習）</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <table style="font-size:20px;">
              <tr>
                <th>時間</th>
                <th>内容</th>
              </tr>
              <tr>
                <td width="120">10:00-11:00</td>
                <td width="1000">
                  <h7>画像識別の学習</h7><br>
                　<ul>
                     <li>事前学習のおさらい</li>
                     <li>AI／機械学習プロジェクト体験1<br>- 画像識別を利用したAIプロジェクト体験（ハンズオン）</li>
                     <li>ケーススタディ１（画像識別のビジネス企画演習）</li>
                　</ul>
                </td>
              </tr>
              
              <tr>
                <td>11:00-12:30</td>
                <td>
                  <h7>データ分析／予測分析の学習１</h7><br>
                　<ul>
                    <li>予測分析の理論学習</li>
                    <li>R言語によるデータ分析実践（ハンズオン）</li>
                    <li>AI／機械学習プロジェクト体験2<br>- データ分析方針検討グループワーク（ハンズオン）</li>
                　</ul>
                </td>
              </tr>
 
              <tr>
                <td>12:30-13:30</td>
                <td>
                    <h7>お昼</h7>
                </td>
              </tr>
 
              <tr>
                <td>13:30-15:30</td>
                <td>
                  <h7>データ分析／予測分析の学習２</h7><br>
                　<ul>
                    <li>EC企業を例にしたレコメンデーション開発の具体例の確認</li>
                    <li>AI／機械学習プロジェクト体験2<br>- Azure MLによる予測分析モデル構築実践（ハンズオン）</li>
                    <li>ケーススタディ③（データから見るAIモデル可否検討）</li>
                　</ul>
                </td>
              </tr>


              <tr>
                <td>15:30-16:30</td>
                <td>
                  <h7>言語識別と音声識別の学習</h7><br>
                　<ul>
                    <li>言語識別の仕組みと事例学習</li>
                    <li>Watsonによる言語解析APIのデモ機確認（ハンズオン）</li>
                    <li>音声識別の仕組みと事例学習</li>
                    <li>Watsonによる音声解析APIのデモ機確認（ハンズオン）</li>
                　</ul>
                </td>
              </tr>
     

              <tr>
                <td>16:30-18:00</td>
                <td>
                  <h7></h7><br>
                　<ul>
                    <li>チャットボットの学習</li>                     　    
                    <li>Watsonによるチャットボット構築（ハンズオン）</li>
                    <li>ケーススタディ４（弁護士業務における言語識別AIの活用）</li>
                　</ul>
                </td>
              </tr> 

              <tr>
                <td>18:00-19:00</td>
                <td>
                  <h7>生成・制御の学習</h7><br>
                　<ul>
                    <li>生成・制御の仕組みと事例学習</li>
                    <li>GANによる画像生成（ハンズオン）</li>
                    <li>ケーススタディ５：（AI化範囲の特定）</li>
                　</ul>
                </td>
              </tr>
            </table><br><br>
        
        <h4>プログラム2日目（AIビジネス推進体験）</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            
            <table style="font-size:20px;">
              <tr>
                <th>時間</th>
                <th>内容</th>
              </tr>
              <tr>
                <td width="120">10:00-11:00</td>
                <td width="1000">
                  <h7>AI×IoTビジネスモデルの基礎</h7><br>
                　<ul>
                     <li>IoT事例の確認</li>
                     <li>AI × IoTビジネスモデル</li>
                     <li>AI × IoTビジネスの本質</li>
                     <li>ケーススタディ６（プラットフォーム化の検討）</li>
                     <li>AI × IoTビジネスモデルに必要なノウハウ</li>
                     <li>ケーススタディ７（ジョブ理論の練習）</li>
                　</ul>
                </td>
              </tr>
              
              <tr>
                <td>11:00-12:00</td>
                <td>
                  <h7>デザイン思考ワークショップによる事業案創出（前半）</h7><br>
                　<ul>
                    <li>課題の発見</li>
                    <li>ジョブの創出</li>
                    <li>ビジネスモデル案の創出</li>
                　</ul>
                </td>
              </tr>
              
              <tr>
                <td>12:00-13:00</td>
                <td>
                    <h7>お昼（兼質問タイム）</h7>
                </td>
              </tr>

              <tr>
                <td>13:00-15:00</td>
                <td>
                  <h7>デザイン思考ワークショップによる事業案創出（後半）</h7><br>
                　<ul>
                    <li>ビジネスモデル案のコンセプト作り</li>
                    <li>ビジネスモデル案のコンセプト案の検証</li>
                    <li>AIモデルキャンバスへの整理</li>
                　</ul>
                </td>
              </tr>
              
              <tr>
                <td>15:00-16:30</td>
                <td>
                  <h7>AIプロジェクト管理の学習</h7><br>
                　<ul>
                    <li>AI開発のプロジェクト管理の方法</li>
                    <li>AI精度の確認（ハンズオン）</li>
                    <li>ケーススタディ８（AI精度を担保する業務フロー設計）</li>
                　</ul>
                </td>
              </tr>
              
              <tr>
                <td>16:30-19:00</td>
                <td>
                  <h7>模擬AI開発プロジェクト体験</h7><br>
                　<ul>
                    <li>検証データの確認</li>
                    <li>AIモデル構築方針の検討</li>
                    <li>Azure MLを利用したデータ検証の実施</li>
                    <li>実証検証結果の評価</li>
                　</ul>
                </td>
              </tr>
              
            </table><br><br>
        </div>

   
    <div class="row">
        <div class="col-md-12" style="background:#ffffff;" >
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
            <br><br>
            
            <h4>講座日程</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <br>
            <ul class= days>
                <li>11/30(土)・12/1(日)：AIビジネス推進人材育成プログラム</li>
                <li>1/25(土)・1/26(日)：AIビジネス推進人材育成プログラム</li>
            </ul>
        </div>
        <div class="col-md-12" style="background:#ffffff;" >
            <h4>時間と料金</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <p>
            【個人向け研修】<br>
            事前学習（7時間）＋2日間のプログラムで合計２１時間 （10:00~19:00）<br>
            個人向け料金：12万円（税込）<br>
            </p>
        </div>

    </div>
        <h4>授業風景</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
        </div><br>

    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu5.JPG" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu6.JPG" %>>
        </div>
    </div>

        
    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu1.jpg" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu3.JPG" %>>
        </div>
    </div>
    
    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu2.JPG" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" > 
            <img class="img-responsive center-block" src=<%= asset_path "yousu4.JPG" %>>
        </div>
    </div>
    
    <div class="col-xs-12" style="padding:0; background:#C0C4F6; height:100px;">
        <div class="logo2">
            <%= link_to image_tag("yoyaku.png"), reserve_path %>
        </div>
    </div>
        
        
        
</div>

