        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AI・IoT・ブロックチェーン<br>
            ×<br>
            ビジネス講座</h1>
            <p>AIなどを全くしらないあなたでも、今後のビジネスに必須テクノロジーであるAI・IoTを用いてビジネスを考えるノウハウをたった1日で学ぶことができます。</p>
        </div>
        
        <div class =logo2>
            <p><%= link_to "共創型コンサルティング支援はこちら", static_pages_middle_path %></p><br>
            <p><%= link_to "長期自立自走支援はこちら", static_pages_pmo_path %></p>
        </div>
        
        
        
<div class="exp">  
<div class="container">        
    <div class="logo2">
        <img class="img-responsive center-block" src=<%= asset_path "aitraining.png" %>><br>
    </div>


    <div class="youtube-container">
        <h1 align="center">    
        <iframe id="player" type="text/html" width="640" height="390"
          src="//www.slideshare.net/slideshow/embed_code/key/HW1eoDkAxS1qxu"
          frameborder="0" allowfullscreen="true"></iframe>
        </h1>
    </div>  
    <div class="youtube-container">
        <h1 align="center">    
        <iframe id="player" type="text/html" width="640" height="390"
          src="//www.slideshare.net/slideshow/embed_code/key/7E5JoRgs8oIoqF"
          frameborder="0" allowfullscreen="true"></iframe>
        </h1>
    </div>  
    <br><br>
    
    <h4>Udemyのオンライン講座</h4>
    <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
        <a href="udemy">
            <img class="img-responsive center-block" src=<%= asset_path "udemylogo.png" %>>
        </a>

    <div class="col-md-12" style="background:#ffffff; " >
         <h4>AI×IoTビジネス研修の詳細スケジュール</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            
            <table style="font-size:20px;">
              <tr>
                <th>時間</th>
                <th>内容</th>
              </tr>
              <tr>
                <td width="120">10:00-10:30</td>
                <td width="1000">
                  <h7>AIモデルキャンバスの学習</h7><br>
                　<ul>
                     <li>明日話したくなるAI事例</li>
                     <li>AIモデルキャンバスの使い方</li>
                     <li>画像識別の事例学習</li>
                     <li>ケーススタディ：画像識別を使ったアプリ開発</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>10:30-11:30</td>
                <td>
                  <h7>AIの出来る事／出来ない事の学習</h7><br>
                　<ul>
                    <li>AIとは何か</li>
                    <li>機械学習の仕組み</li>
                    <li>ディープラーニングの仕組み</li>
                    <li>深層強化学習（アルファ碁）の仕組み</li>
                    <li>AIの出来ること・出来ないこと</li>
                    <li>ケーススタディ：AI出来る出来ない仕分け</li>
                    <li>ケーススタディ：立法業務AI化の可能性検証</li>
                　</ul>
                </td>
              </tr>
              <tr>
                <td>11:40-13:00</td>
                <td>
                  <h7>AI機能学習とケーススタディ前半</h7><br>
                　<ul>
                    <li>予測分析の事例学習</li>
                    <li>ケーススタディ：90％精度AIモデルにおける業務設計</li>
                    <li>予測分析プロジェクトの事例学習：レコメンデーション分析</li>
                    <li>ケーススタディ：データからみたAIドクター作成可否の検証</li>            
                    <li>ケーススタディ：衣料品店でのAI活用におけるデータ取得検討</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>13:00-14:00</td>
                <td>
                    <h7>お昼（兼質問タイム）</h7>
                </td>
              </tr>
               <tr>
                <td>14:00-15:00</td>
                <td>
                  <h7>AI機能学習とケーススタディ後半</h7><br>
                　<ul>
                    <li>言語識別の仕組みと事例学習</li>
                    <li>音声識別の仕組みと事例学習</li>
                    <li>ケーススタディ：弁護士業務におけるAI活用</li>
                    <li>生成・制御の仕組みと事例学習</li>
                    <li>ケーススタディ：広告業務におけるAI活用（自習用）</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>15:10-16:50</td>
                <td>
                  <h7>IoTビジネス基礎</h7><br>
                　<ul>
                    <li>明日話したくなるIoT事例10</li>
                    <li>IoTビジネスモデル</li>
                    <li>IoTビジネスの本質</li>
                    <li>ケーススタディ：AIビジネスのプラットフォーム化検討</li>
                    <li>IoT検討に必要なノウハウ</li>
                    <li>ケーススタディ：ジョブ理論の実践演習</li>
                　</ul>
                </td>
              </tr>
               <tr>
                <td>17:00-19:00</td>
                <td>
                  <h7>デザイン思考ワークショップ</h7><br>
                　<ul>
                    <li>デザイン思考ワークショップ（IoT・AIを活用した新規事業立案）</li>
                　</ul>
                </td>
              </tr>
            </table><br><br>
        </div>
    
       <br><br>
        <div class="col-md-12" style="background:#ffffff; " >
            <h4>授業評価（ストアカでの2時間短縮講座の評価抜粋）</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
            </div><br>
    
            <div class = "row">
                <div class="col-md-12" style="background:#ffffff;" >
                    <img class="img-responsive center-block" src=<%= asset_path "evaluate1.png" %>>
                </div>
            </div>
        </div>
        
        <div class="col-md-12" style="background:#ffffff; " >
            <br><br>
            <h4>研修実績</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
            </div><br>
    
            <div class = "row">
                <div class="col-md-12" style="background:#ffffff;" >
                    <h1>■これまで個人研修で300名以上の方にサービスを提供</h1>
                    <img class="img-responsive center-block" src=<%= asset_path "jiseki4.png" %>><br><br><br>
                    <h1>■これまでに以下のような企業様に研修を導入しております。</h1>
                    <img class="img-responsive center-block" src=<%= asset_path "houjin.png" %>><br><br><br>
                </div>
            </div>
        </div>
    <br>
    
    
   
    <div class="row">
        <div class="col-md-12" style="background:#ffffff;" >
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
            <br><br>
            
            <h4>講座日程</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <br>
            <ul class= days>
                <li><p>10/13(土)   AI×IoTビジネス研修　10:00~19:00 場所：東京都新宿区四谷2-12-5 四谷ISYビル５F</p></li>
                <li><p>10/20(土)   ブロックチェーンビジネス研修　10:00~19:00 場所：東京都新宿区四谷2-12-5 四谷ISYビル５F</p></li>
            </ul>
        </div>
        <div class="col-md-12" style="background:#ffffff;" >
            <h4>時間と料金</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <p>
            【個人向け研修】<br>
             1日8時間 （10:00~19:00）<br>
            個人向け料金：5万円（税抜き）<br><br>
            【法人向け研修】<br>
             1日8時間 
            法人研修料金（グループ学習主体のため人数規模単位の設定となります。）<br>
            ・5名30万円より～　御社のAI活用能力診断に基づいたカスタマイズ研修も可能です。
            <img class="img-responsive center-block" src=<%= asset_path "houjin0.png" %>><br>
            <p><%= link_to "　※法人向けカスタマイズ研修のご説明はこちら", static_pages_middle_path %></P>
            </p>
        </div>

    </div>
        <h4>授業風景</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
        </div><br>

    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu5.JPG" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu6.JPG" %>>
        </div>
    </div>

        
    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu1.jpg" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu3.JPG" %>>
        </div>
    </div>
    
    <div class = "row">
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" >
            <img class="img-responsive center-block" src=<%= asset_path "yousu2.JPG" %>>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff;" > 
            <img class="img-responsive center-block" src=<%= asset_path "yousu4.JPG" %>>
        </div>
    </div>
    
    </div>
        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
    </div>
</div>
</div>

