        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>弊社サービス</h1>
            <p>テクノロジー研修を軸として、イノベーション組織創設支援、次世代ビジネスモデル立案支援、チャットボット導入支援など最新テクノロジー専門のサービスを展開しています。
            </p>
        </div>

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#ffffff; height:100px;">
            <h2>人材・組織育成サービス</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#ffffff; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/seminar">
                <div class="icon"><%= image_tag "develop.png" %></div>
                <h1>テクノロジー研修</h1>
                <p>
                AI×IoT×ブロックチェーンなどを利用したビジネス検討ノウハウ獲得を支援します。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#ffffff; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/middle">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>イノベーション組織構築</h1>
                <p>AI活用能力診断からAI活用可能なイノベーション組織構築を支援します。
                </p>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#ffffff; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/pmo">
                <div class="icon"><%= image_tag "approach.png" %></div>
                <h1>中長期自立自走支援</h1>
                <p>デジタルビジネスモデルや組織定着をアドバイザリーとして中長期支援します。
                </p>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#ffffff; height:100px;">
            <h2>コンサルティングサービス</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#ffffff; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/consulting">
                <div class="icon"><%= image_tag "approach.png" %></div>
                <h1>次世代ビジネス構築支援</h1>
                <p>AI×IoT×ブロックチェーンを踏まえたデジタル戦略・ビジネスモデル構築支援
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#ffffff; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/bot">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>チャットボット導入支援</h1>
                <p>UXデザイン×世界最高チャットボットによる高品質なチャットボット導入
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#ffffff; height:300px;">
            <div class= "gaiyo">
                <a href="static_pages/development">
                <div class="icon"><%= image_tag "develop.png" %></div>
                <h1>AIモデル構築支援</h1>
                <p>データサイエンティストによるAIモデル開発・データ分析までのトータル支援
                </p>
                </a>
            </div>
        </div>
    </div>

  
        <div class="col-xs-12" style="padding:0; background:#C0C4F6; height:100px;">
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
</div>