        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>サイトマップ</h1>
        </div>

<div class="exp">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12" style="background:#ffffff" >

        <h1>弊社の説明ページ</h1>
        <h3>
         <%= link_to "会社概要", static_pages_about_path %><br> 
         <%= link_to "弊社サービスのアプローチ", static_pages_approach_path %><br> 
         <%= link_to "弊社の研修実施担当者", static_pages_member_path %><br> 
        </h3>
    　　</div>
    　　
   
        <div class="col-md-4 col-xs-12" style="background:#ffffff" >
        <h1>弊社サービスの説明ページ</h1>
         <h3>
         <%= link_to "AIビジネス研修サービス", static_pages_seminar_path %><br> 
         <%= link_to "弊社のAIコンサルティングなど各種サービスの説明", static_pages_service_path %><br>
         <%= link_to "中長期自立自走支援サービス", static_pages_pmo_path %><br> 
         <%= link_to "AI開発支援体制", static_pages_development_path %><br> 
        </h3>
        </div>
        
        
        <div class="col-md-4 col-xs-12" style="background:#ffffff" >
        <h1>学習支援向けページ</h1>
        <h3>
         <%= link_to "お薦めのテクノロジーメディア", static_pages_media_path %><br> 
         <%= link_to "AIビジネス推進人材に必要なスキルとその育成方法", learning_business1_path %><br> 
         <%= link_to "AI（人工知能）開発スキルの最適な学び方を学ぶ講座", learning_data1_path %><br>
         <%= link_to "超初心者のためのAI（人工知能／機械学習）によるビジネスモデル立案検討講座（基礎編）", learning_business2_path %><br> 
         <%= link_to "あなたの会社でデジタルトランスフォーメーション（DX）を実施する方法", learning_business3_path %><br> 
        </h3>
        <h1>弊社連絡ページ</h1>    
        <h3>
         <%= link_to "お問合せ", inquiry_path %><br>
         <%= link_to "セミナーの予約", reserve_path %><br> 
        </h3>
        </div>
   
    </div>
</div>
</div>

