<div class="exp">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12" style="background:#ffffff" >
            
        <h1>弊社の説明ページ</h1>
        <h3>
         <%= link_to "会社概要", static_pages_about_path %><br> 
         <%= link_to "弊社サービスのアプローチ", static_pages_approach_path %><br> 
         <%= link_to "弊社の研修実施担当者", static_pages_member_path %><br> 
        </h3>
    　　</div>
    　　
   
        <div class="col-md-4 col-xs-12" style="background:#ffffff" >
        <h1>弊社サービスの説明ページ</h1>
         <h3>
         <%= link_to "AIビジネス研修サービス", static_pages_seminar_path %><br> 
         <%= link_to "法人向け研修サービスページ", static_pages_seminar2_path %><br> 
         <%= link_to "共創型コンサルティングサービス", static_pages_middle_path %><br>
         <%= link_to "中長期自立自走支援サービス", static_pages_pmo_path %><br> 
         <%= link_to "AI開発支援体制", static_pages_development_path %><br> 
        </h3>
        </div>
        
        
        <div class="col-md-4 col-xs-12" style="background:#ffffff" >
        <h1>学習支援向けページ</h1>
        <h3>
         <%= link_to "お薦めのテクノロジーメディア", static_pages_media_path %><br> 
         <%= link_to "自立自走学習の支援ページ", learning_path %><br> 
        </h3>
        <h1>弊社連絡ページ</h1>    
        <h3>
         <%= link_to "お問合せ", inquiry_path %><br>
         <%= link_to "セミナーの予約", reserve_path %><br> 
        </h3>
        </div>
   
    </div>
</div>
</div>

