        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>弊社の強み</h1>
            <p>戦略コンサルティングファームを超える成果を実現する高い専門性と実践力を有しています。</p>
        </div>
        
<div class="container">   


<br><br>
<div class="exp">            
    <div class="row">

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>他ファームとの差別化</h4>
            <h1>■戦略立案／人工知能モデル構築／新規事業経営の実践経験豊富な業界トップクラスのコンサルタントが担当します。これらの経験を全て踏まえた対応は他企業ではなかなか真似できません。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "st1.png" %>><br><br>
            <h1>■次世代コンサルティングには、昔ながらの「論点思考などの戦略立案能力」に加えて、「AI・IoTなどのテクノロジーノウハウ」とイノベーションを創造する「UX／デザイン思考」の3軸が不可欠となります。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "st1-2.png" %>><br><br>
            <h1>■戦略ファームは旧来の戦略立案能力は世界一ですが、テクノロジーの素人に高額で自社の将来を任せることになります。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "st2.png" %>><br><br>
            <h1>■総合コンサルファームは、各領域にプロフェッショナルがいますが、別々の部署から招集する必要があり、その分高額でコミュニケーションコストも高くなります。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "st3.png" %>><br><br>
            <h1>■AIベンダーはAI構築は専門的ですが、ビジネスノウハウが低いコンサルタントに依頼することになります。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "st4.png" %>><br><br>
            <h1>■弊社は戦略立案／データサイエンス／デザインのプロフェッショナルにより低額でトップレベルのコンサルティングが提供可能です。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "st5.png" %>><br><br>
            <img class="img-responsive center-block" src=<%= asset_path "st6.png" %>>             
    　　</div>

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
        
     </div>
</div>

