<%= form_for @reserve, :url => reserve_confirm_path do |f| %>
  
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
          <h1>テクノロジー×ビジネス講座<br>
          申し込み画面</h1>
        </div>
        
        <% if @reserve.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <strong>入力内容にエラーがあります</strong>
            <ul>
              <% @reserve.errors.each do |attr, msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="inquiry">            
        
            <h1>申し込み日程<span class="text-danger"> (必須)</span></h1><br>
            <h4>
            　<%= f.radio_button :reserved_day, '20190928' %>9/28(土)・9/29(日)：AIビジネス推進人材育成プログラム：12万円（税込）<br>時間:10:00～19:00 <br>会場：四ツ谷3丁目アクトコール本社5F<br><br>
              <%= f.radio_button :reserved_day, '20191026' %>10/26(土)・10/27(日)：AIビジネス推進人材育成プログラム：12万円（税込）<br>時間:10:00～19:00 <br>会場：四ツ谷3丁目アクトコール本社5F<br><br>
              <%= f.radio_button :reserved_day, '20191126' %>11/30(土)・11/1(日)：AIビジネス推進人材育成プログラム：12万円（税込）<br>時間:10:00～19:00 <br>会場：四ツ谷3丁目アクトコール本社5F<br><br>
              <%= f.radio_button :reserved_day, '20191221' %>12/21(土)・12/22(日)：AIビジネス推進人材育成プログラム：12万円（税込）<br>時間:10:00～19:00 <br>会場：四ツ谷3丁目アクトコール本社5F<br><br>
            </h4>

            <h1>名前<span class="text-danger"> (必須)</span></h1><br>
            <h4><%= f.text_field :name, :size =>"27" %></h4><br>
          
            <h1>領収書先（個人/法人）<span class="text-danger"> (必須)</span></h1><br>
            <h4>※以下選択に合わせた電話番号・住所を記載ください。<br>  <br>         
             <%= f.radio_button :sponsor, '個人' %>個人
             <%= f.radio_button :sponsor, '法人' %>法人<br><br><br>
            </h4>
            
            <h1>所属（お勤め先・学校など）<span class="text-danger"> (必須)</span></h1><br>
            <h4><%= f.text_field :belonging, :size =>"27" %></h4><br>
            
            <h1>メールアドレス<span class="text-danger"> (必須)</span></h1><br>
            <h4><%= f.text_field :email, :size =>"27" %></h4><br>
      
            <h1>電話番号<span class="text-danger"> (必須)</span></h1><br>
            <h4><%= f.text_field :phone, :size =>"27" %></h4><br>
            
            <h1>郵便番号（ハイフンなし数値のみ）<span class="text-danger"> (必須)</span></h1><br>
            <h4><%= f.text_field :post, :size =>"13" %></h4><br>

            <h1>都道府県<span class="text-danger"> (必須)</span></h1><br>
            <h4><%= f.text_field :address1, :size =>"13" %></h4><br>

            <h1>市区町村番地ビル名<span class="text-danger"> (必須)</span></h1><br>
            <h4><%= f.text_field :address2, :size =>"27" %></h4><br>
            
            <h1>申込同意事項<span class="text-danger"> (必須)</span></h1><br>
            <h4>【キャンセルポリシー】<br>
                ・前日以降のご返金はできません。<br>
                ・1週間～2日前まで70％ご返金いたします。<br><br>
                【研修内容の取扱い】<br>
                ・研修で提供する文章については個人利用以外に再販などの事業目的の利用に向けた複製をお断りしています。<br><br>
                【ご請求処理について】<br>
                ・予約完了後、弊社担当者からご連絡させていただきます。<br><br>
                
             <%= f.radio_button :policy, 'ポリシーに同意' %>以上内容への同意表明<br><br>

            </h4>   

            <h1>ご要望等あればコメントしてください</h1><br>
            <%= f.text_area :message %><br>

         

            <h2><%= f.submit '確認', class: 'btn btn-primary' %></h2>
        <% end %>
        </div>
    </div>
</div>