<header>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    
    <div class="container-fluid">
      <div class="navbar-inner">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="logo">
            <%= image_tag "logo4.png"  %>
          </h1>
        </div>
      </div>
      
      <div class = "collapse navbar-collapse" id="mainNav">
        <h1>
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "トップ",  root_path %></li>
              <li><%= link_to "会社概要", static_pages_about_path %></li>
              <li><%= link_to "弊社の強み", static_pages_strength_path %></li>
              <li><%= link_to "弊社サービス", static_pages_service_path %></li>
              <li><%= link_to "メンバー", static_pages_member_path %></li>
              <li><%= link_to "最新テック動向", static_pages_media_path %></li>
              <li><%= link_to "ノウハウ伝授", learning_path %></li>
          </ul>
        </h1>
      </div>
    
    </div>
  </nav>
</header>

