<!DOCTYPE html>
<html>
  <head>
    <title>AI企画立案支援：AI活用ならエデュテックパートナーズ</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= analytics_init if Rails.env.production? %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <meta name="keywords" content="AI活用,AI企画,AIビジネス,AIセミナー,IoTセミナー,AI事例">
　　<meta name="description" content="AIのビジネス活用にお困りのあなたに、エデュテックパートナーズはAIビジネス企画立案ノウハウを提供します。。">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
